doctype html
html(lang='es')
    head
        meta(charset='utf-8')
        title   UnoSiete
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(name="description" content="Uno Siete")
        meta(name="author" content="Codeworqs")

        link(rel="stylesheet" href="assets/css/styles.css")
        link(href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600' rel='stylesheet' type='text/css')

    body(class="focusedform")
        div(class="verticalcenter")
            a(href="/" )
                img(img src="/unosiete_images/logos/us_224_30.png" alt="Logo" class="brand")
            div(class="panel panel-primary")
                div(class="panel-body")
                    h4(class="text-center" style="margin-bottom: 25px;") Inicie sesión o
                        a(href="/admin/signup")  Crear cuenta

                    h4(class="text-center" style="margin-bottom: 25px;") Inicie sesión como assesor
                        a(href="/supervisor/login")  Inicie sesión asesor
