doctype html
html(lang='es')
   head
      meta(charset='utf-8')
      title   UnoSiete
      meta(http-equiv="X-UA-Compatible" content="IE=edge")
      meta(name="viewport" content="width=device-width, initial-scale=1.0")
      meta(name="description" content="Uno Siete")
      meta(name="author" content="Codeworqs")
      link(rel="stylesheet" href="/assets/css/styles.css")
      link(href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600' rel='stylesheet' type='text/css')
   body(class="focusedform")
      div(class="verticalcenter")
         a(href="/" )
            img(img src="/unosiete_images/logos/us_224_30.png" alt="Logo" class="brand")
         div(class="panel panel-primary")
            div(class="panel-body")
               h4(class="text-center" style="margin-bottom: 25px;") Inicie sesión o
                  a(href="/admin/signup")  Crear cuenta
               form(action="/admin/login" method='post' class="form-horizontal" style="margin-bottom: 0px !important;")
                  if messages.info
                    div(class="alert alert-info" role="alert")
                        strong #{messages.info}

                  if messages.error
                    div(class="alert alert-danger" role="alert")
                        strong #{messages.error}

                  if messages.success
                     div(class="alert alert-success" role="alert")
                        strong #{messages.success}
                          
                  div(class="form-group")
                     div(class="col-sm-12")
                        div(class="input-group")
                           span(class="input-group-addon")
                              i(class="fa fa-user")
                           input(type="email" class="form-control" id="email"  name='email' placeholder="Email")
                  div(class="form-group")
                     div(class="col-sm-12")
                        div(class="input-group")
                           span(class="input-group-addon")
                              i(class="fa fa-lock")
                           input(type="password" class="form-control" id="password" name='password' placeholder="Contraseña")
                  div(class="form-group")
                     div(class="col-sm-12")
                        div(class="input-group")
                           button(type="submit" class="btn btn-primary") Iniciar sesión



                  div(class="form-group")
                     div(class="col-sm-12")
                        div(class="input-group")
                           a(href="/supervisor/login" class="pull-left btn btn-link" style="padding-left:0") Iniciar sesión como asesor


            div(class="panel-footer")
               a(href="/admin/recover-password" class="pull-left btn btn-link" style="padding-left:0") Olividaste tu contraseña
            // div(class="pull-right")
                 button(type="submit" class="btn btn-primary") Inicar sesión

