extends /layout/main.jade
block content	
    div(class="container")
        div(class='row')
            div(class="col-md-12")
                div(class="panel panel-gray")
                    div(class="panel-heading")
                        h4
                            i(class="fa fa-cloud icon-highlight icon-highlight-primary")
                            |    Comisiones compartidas
                        div(class="options")
                            ul(class="nav nav-tabs")
                                li(class="active")
                                    a(href="#enviado" data-toggle="tab")

                    div(class="panel-body")
                        div(class="tab-content")
                            div(class="tab-pane active" id="enviado")
                                div(class="table-responsive ")
                                    table(class="table col-md-12" id="admin-new-contracts-list")
                                        thead
                                            tr
                                                th Sector
                                                th Ene - Mar
                                                th Abr - Jun
                                                th Jul - Sep
                                                th Oct - Dec
                                                th Año

                                        tbody(class="table-hover")
                                            //JSON.stringify(results)
                                            tr
                                                td Telecomunicaciones & Energías
                                                td
                                                    if(results.telecom1Q[0])
                                                        = results.telecom1Q[0].total
                                                    else
                                                        = '0.00'
                                                td
                                                    if(results.telecom2Q[0])
                                                        = results.telecom2Q[0].total
                                                    else
                                                        = '0.00'
                                                td
                                                    if(results.telecom3Q[0])
                                                        = results.telecom3Q[0].total
                                                    else
                                                        = '0.00'
                                                td
                                                    if(results.telecom4Q[0])
                                                        = results.telecom4Q[0].total
                                                    else
                                                        = '0.00'
                                                td
                                                    if(results.telecom1Q[0])
                                                        = results.telecom1Q[0]._id
                                                    else
                                                        = ' - '

                                            tr
                                                td Seguros  Generales
                                                td
                                                    if(results.insurance1Q[0])
                                                        = results.insurance1Q[0].total
                                                    else
                                                        = '0.00'
                                                td
                                                    if(results.insurance2Q[0])
                                                        = results.insurance2Q[0].total
                                                    else
                                                        = '0.00'
                                                td
                                                    if(results.insurance3Q[0])
                                                        = results.insurance3Q[0].total
                                                    else
                                                        = '0.00'
                                                td
                                                    if(results.insurance4Q[0])
                                                        = results.insurance4Q[0].total
                                                    else
                                                        = '0.00'
                                                td
                                                    if(results.insurance1Q[0])
                                                        = results.insurance1Q[0]._id
                                                    else
                                                        = ' - '

                                            tr
                                                td Ahorro & Inversión
                                                td
                                                    if(results.investment1Q[0])
                                                        = results.investment1Q[0].total
                                                    else
                                                        = '0.00'
                                                td
                                                    if(results.investment2Q[0])
                                                        = results.investment2Q[0].total
                                                    else
                                                        = '0.00'
                                                td
                                                    if(results.investment3Q[0])
                                                        = results.investment3Q[0].total
                                                    else
                                                        = '0.00'
                                                td
                                                    if(results.investment4Q[0])
                                                        = results.investment4Q[0].total
                                                    else
                                                        = '0.00'
                                                td
                                                    if(results.investment1Q[0])
                                                        = results.investment1Q[0]._id
                                                    else
                                                        = ' - '

                                            tr
                                                td Autónomos & Empresa
                                                td
                                                    if(results.smallBusiness1Q[0])
                                                        = results.smallBusiness1Q[0].total
                                                    else
                                                        = '0.00'
                                                td
                                                    if(results.smallBusiness2Q[0])
                                                        = results.smallBusiness2Q[0].total
                                                    else
                                                        = '0.00'
                                                td
                                                    if(results.smallBusiness3Q[0])
                                                        = results.smallBusiness3Q[0].total
                                                    else
                                                        = '0.00'
                                                td
                                                    if(results.smallBusiness4Q[0])
                                                        = results.smallBusiness4Q[0].total
                                                    else
                                                        = '0.00'
                                                td
                                                    if(results.smallBusiness1Q[0])
                                                        = results.smallBusiness1Q[0]._id
                                                    else
                                                        = ' - '



                                            tr
                                                td Mantenimientos & Reparaciones
                                                td
                                                    if(results.maintenance1Q[0])
                                                        = results.maintenance1Q[0].total
                                                    else
                                                        = '0.00'
                                                td
                                                    if(results.maintenance2Q[0])
                                                        = results.maintenance2Q[0].total
                                                    else
                                                        = '0.00'
                                                td
                                                    if(results.maintenance3Q[0])
                                                        = results.maintenance3Q[0].total
                                                    else
                                                        = '0.00'
                                                td
                                                    if(results.maintenance4Q[0])
                                                        = results.maintenance4Q[0].total
                                                    else
                                                        = '0.00'
                                                td
                                                    if(results.maintenance1Q[0])
                                                        = results.maintenance1Q[0]._id
                                                    else
                                                        = ' - '



                                            tr
                                                td Alimentación & E-commerce
                                                td
                                                    if(results.ecommerce1Q[0])
                                                        = results.ecommerce1Q[0].total
                                                    else
                                                        = '0.00'
                                                td
                                                    if(results.ecommerce2Q[0])
                                                        = results.ecommerce2Q[0].total
                                                    else
                                                        = '0.00'
                                                td
                                                    if(results.ecommerce3Q[0])
                                                        = results.ecommerce3Q[0].total
                                                    else
                                                        = '0.00'
                                                td
                                                    if(results.ecommerce4Q[0])
                                                        = results.ecommerce4Q[0].total
                                                    else
                                                        = '0.00'
                                                td
                                                    if(results.ecommerce1Q[0])
                                                        = results.ecommerce1Q[0]._id
                                                    else
                                                        = ' - '
                                            tr
                                                td Hogar & Bienestar
                                                td
                                                    if(results.cosmetics1Q[0])
                                                        = results.cosmetics1Q[0].total
                                                    else
                                                        = '0.00'
                                                td
                                                    if(results.cosmetics2Q[0])
                                                        = results.cosmetics2Q[0].total
                                                    else
                                                        = '0.00'
                                                td
                                                    if(results.cosmetics3Q[0])
                                                        = results.cosmetics3Q[0].total
                                                    else
                                                        = '0.00'
                                                td
                                                    if(results.cosmetics4Q[0])
                                                        = results.cosmetics4Q[0].total
                                                    else
                                                        = '0.00'
                                                td
                                                    if(results.cosmetics1Q[0])
                                                        = results.cosmetics1Q[0]._id
                                                    else
                                                        = ' - '







