extends /layout/supervisor/main.jade
block content	
    div(class="container")
        div(class='row')
            div(class="col-md-12")
                div(class="panel panel-gray")
                    div(class="panel-heading")
                        h4 Historial de notificaciones

                    div(class="panel-body")
                        div(class="row")
                            div(class="col-md-6")
                                each notif,index in  notifications
                                    P Nº:  #{index+1}
                                    //p Creado por : #{notif.created_by.first_name} #{notif.created_by.last_name}
                                    p Creado por : Producción unosiete
                                    p Fecha :
                                        =moment(notif.updated).format('DD/MM/YYYY HH:mm')
                                    p Estado actual : #{notif.state}
                                    p Observaciones:
                                    p(class="text-danger")
                                        strong #{notif.remarks}
                                    if(notif.attachment != false)
                                        a(href="#{notif.attachment.secure_url}") Documento adjunto
                                        //if(notif.attachment_name)
                                            #{notif.attachment_name}
                                        //else
                                            span Documento adjunto
                                    else
                                        p No hay ningún fichero adjunto

                                    hr