#menu_initial_style{
    background-color: transparent !important;
}

.menu_initial_style{
    background-color: white !important;
    background-image: none !important;

}

/*El camino no ha hecho mas que empezar */
.text-size-large{
    _font-size: 3em !important;
}

/* Send email form (Contact us) */
.btn-custom{
    background-color: #ea650d;
}

.feature-text-height{
    height: 15em;
}