extends /layout/main.jade
block content
   div(class="container")
      div(class='row')
         div(class="col-md-12")
            div(class="panel panel-gray")
               div(class="panel-heading")
                  h4 Editar  asesor

                  div(class="options")
                      button(class="btn btn-danger  delete-supervisor" id="#{supervisor._id}") Eliminar

               div(class="panel-body")
                   form(action="/admin/supervisors/edit/#{supervisor._id}" class=" col-md-6"  id="supervisor-edit-form" method="post" )
                       div(class="form-group")
                           label(class=" control-label")
                           |   Nombre
                           div(class="")
                               input(type="hidden" class="form-control" id="user_id" name="user_id"  value="#{supervisor._id}" )
                               input(type="text" class="form-control" id="first_name" name="first_name"  value="#{supervisor.first_name}" )
                       div(class="form-group")
                           label(class=" control-label")
                           |   Apellidos
                           div(class="")
                               input(type="text" class="form-control" id="last_name" name="last_name" value="#{supervisor.last_name}")
                       div(class="form-group")
                           label(class=" control-label")
                           |   DNI/NIE
                           div(class="")
                               input(type="text" class="form-control" id="identification_number" name="identification_number" value="#{supervisor.identification_number}")
                       div(class="form-group")
                           label(class=" control-label")
                           |  Email
                           div(class="")
                               input(type="email" class="form-control" id="email" name="email" value="#{supervisor.email}")
                       div(class="form-group")
                           label(class=" control-label")
                           |  Tel
                           div(class="")
                               input(type="text" class="form-control" id="telephone" name="telephone" value="#{supervisor.telephone}")
                       div(class="form-group")
                           label(class=" control-label")
                           |  Móvil
                           div(class="")
                               input(type="text" class="form-control" id="mobile" name="mobile" value="#{supervisor.mobile}")
                       div(class="form-group")
                           label(class=" control-label")
                           |   Dirección
                           div(class="")
                               input(type="text" class="form-control" id="address" name="address" value="#{supervisor.address}")
                       div(class="form-group")
                           label(class=" control-label")
                           |   Localidad/Ciudad
                           div(class="")
                               input(type="text" class="form-control" id="city" name="city" value="#{supervisor.city}")
                       div(class="form-group")
                           label(class=" control-label")
                           |   Codigo postal
                           div(class="")
                               input(type="text" class="form-control" id="post_code" name="post_code" value="#{supervisor.post_code}")
                       div(class="form-group")
                           label(class=" control-label")
                           |   Fecha de nacimiento
                           div(class="")
                               input(type="text" class="form-control" id="date_of_birth" name="date_of_birth" value="#{supervisor.date_of_birth}")
                       div(class="form-group")
                           label(class=" control-label")
                           div(class="")
                               select(name="account_creation_state" id="account_creation_state")
                                   option #{supervisor.supervisor_recommendation_history.state}
                                   option recomendado
                                   option verificado
                       div(class="form-group")
                           div(class="")
                               button(type="submit" class="btn btn-primary" id="supervisor-edit-btn" ) Guardar cambios

               div(class="modal-footer")

