extends /layout/supervisor/main.jade
block content
   div(class="container")
      div(class='row')
         div(class="col-md-12")
            div(class="panel panel-gray")
               div(class="panel-heading")
                  h4 Modificar producto
               div(class="panel-body")
                  div(class="row")
                      //if(redirectMessage)
                          div(class="alert alert-dismissable alert-info col-md-6" )
                              strong #{redirectMessage}
                              button(type="button" class="close" data-dismiss="alert" aria-hidden="true") x
                     div(class="col-md-6")

                        each product in  editProduct
                             form(action="" class="form-horizontal " id="edit-client-product-form")
                                 div(class="form-group")
                                     label(class=" control-label") Sector
                                     div(class="")
                                         input(type="hidden" class="form-control " id="product_id" name="product_id" value="#{product._id}")
                                         select(class="form-control require" id="product_sector" name="product_sector")
                                             option(value="false" ) Selected....
                                             option(value="#{product.sector}" selected="selected") #{product.sector}
                                             option(value="Telecomunicación & Energías") Teleco. & Energías
                                             option(value="Ahorro & Inversión") Ahorro. & Inversion
                                             option(value="Seguros  Generales")  Seguros  Generales
                                             option(value="Mantenimiento & Reparaciones")  Mantenimiento & Reparaciones
                                             option(value="Autónomos & Empresa")  Autónomos & Empresas
                                             option(value="Alimentación & E-commerce")  Alimantación & E-commerce
                                             option(value="Hogar & Bienestar")  Hogar & Bienestar


                                 div(class="form-group")
                                     label(class=" control-label") Productos del sector
                                     div(class="")
                                         select(class="form-control" id="product_name" name="product_name")
                                             option(value="#{product.name}" selected="selected")  #{product.name}



                                 div(class="form-group")
                                     label(class=" control-label ") Estado contracto
                                     div(class="disabled")
                                         select(class="form-control " id="contract_state" name="contract_state" )
                                             option(value="#{product.contract_state}" selected="selected") #{product.contract_state}
                                             
                                             
                                             
                                 div(class="form-group")
                                     label(class=" control-label ") Observaciones
                                     div()
                                         textarea(class="form-control " id="observations" name="observations"  )  #{product.observations}


                                 div(class="form-group")
                                     label(class=" control-label")
                                     div(class="")
                                         button(type="button" class="btn btn-default" data-dismiss="modal") Cancelar
                                         input(type="submit" class="btn btn-primary" id='client-product-edit-save-btn' value="Guardar")



                             div(class="modal-footer")



             div(class="panel panel-gray")
                 div(class="panel-heading")
                     h4 Subir ficheros relacionado con el producto
                 div(class="panel-body")
                     div(class="row")
                         div(class="col-md-6")
                            each product in  editProduct
                                 if(product.document_1 && product.document_name_1)
                                     p
                                        a(href="#{product.document_1.secure_url}" id="doc1") #{product.document_name_1}
                                 else
                                     p
                                         a( id="doc1") Documento adjunto 1

                                 if(product.document_2 && product.document_name_2)
                                     p
                                        a(href="#{product.document_2.secure_url}" id="doc2") #{product.document_name_2}
                                 else
                                     p
                                         a( id="doc2") Documento adjunto 2
                                 if(product.document_3 && product.document_name_3)
                                     p
                                        a(href="#{product.document_3.secure_url}" id="doc3") #{product.document_name_3}
                                 else
                                     p
                                         a( id="doc3") Documento adjunto 3


                         div(class="col-md-6")
                             //Contract documents files upload
                         each product in  editProduct
                             form(action="/supervisor/clients-doc-upload-1" class="form-horizontal " id="edit-client-product-file1-form" method="post" enctype="multipart/form-data")

                                 div(class="form-group")
                                     label(class=" control-label") Nombre del documento
                                     div(class="row")
                                         div(class="col-sm-9")
                                             input(type="hidden" class="form-control " id="product_id_file1" name="product_id" value="#{product._id}")
                                             input(type="text" class="form-control " id="filename1"   name="filename1" )
                                     div(class="")
                                         input(type="file" id="fileupload1"  name="uploadedFile" disabled)
                                     div(class="")
                                         input(type="submit" id=""  name="" value="Guardar ")

                             form(action="/supervisor/clients-doc-upload-2" class="form-horizontal " id="edit-client-product-file2-form" method="post" enctype="multipart/form-data")
                                 div(class="form-group")
                                     label(class=" control-label") Nombre del documento
                                     div(class="row")
                                         div(class="col-sm-9")
                                             input(type="hidden" class="form-control " id="product_id_file2" name="product_id" value="#{product._id}")
                                             input(type="text" class="form-control " id="filename2"   name="filename2" )
                                     div(class="")
                                         input(type="file" id="fileupload2"  name="uploadedFile" disabled)
                                     div(class="")
                                         input(type="submit" id=""  name="" value="Guardar ")

                             form(action="/supervisor/clients-doc-upload-3" class="form-horizontal " id="edit-client-product-file3-form" method="post" enctype="multipart/form-data")
                                 div(class="form-group")
                                     label(class=" control-label") Nombre del documento
                                     div(class="row")
                                         div(class="col-sm-9")
                                             input(type="hidden" class="form-control " id="product_id_file3" name="product_id" value="#{product._id}")
                                             input(type="text" class="form-control " id="filename3"   name="filename3" )
                                     div(class="")
                                        input(type="file" id="fileupload3"  name="uploadedFile" disabled)
                                     div(class="")
                                         input(type="submit" id=""  name="" value="Guardar ")
