extends /layout/supervisor/main.jade
block content
   div(class="container")
      div(class='row')
         div(class="col-md-12")
            div(class="panel panel-gray")
               div(class="panel-heading")
                  h4 Nuevo producto
               div(class="panel-body")
                  div(class="row")
                     div(class="col-md-6")
                         form(name="new-client-product-form" action="/supervisors/products/new" method="post" enctype="multipart/form-data" id="new-client-product-form")

                             div(class="form-group")
                                 label(class=" control-label") Sector
                                 div(class="")
                                     input(type="hidden" class="form-control require" id="client_type" name="client_type" value="client")
                                     input(type="hidden" class="form-control require" id="client_id" name="client_id" value="#{clientId}")
                                     select(class="form-control require" id="product_sector" name="product_sector")
                                         option(value="null") Sector...
                                         option(value="Telecomunicación & Energías") Teleco & Energías
                                         option(value="Seguros  Generales")  Seguros  Generales
                                         option(value="Ahorro & Inversión") Ahorro & Inversión
                                         option(value="Autónomos & Empresa")  Autónomos & Empresa
                                         option(value="Mantenimiento & Reparaciones")  Mantenimiento & Reparaciones
                                         option(value="Alimentación & E-commerce")  Alimentación & E-commerce
                                         option(value="Hogar & Bienestar")  Hogar & Bienestar


                             div(class="form-group")
                                 label(class=" control-label") Productos del sector
                                 div(class="")
                                     select(class="form-control" id="product_name" name="product_name")
                                         option(value="none") Seleccione una opción

                             div(class="form-group")
                                 label(class=" control-label ") Estado
                                 div()
                                     select(class="form-control " id="contract_state" name="contract_state" )
                                         option(value="Enviado") Enviado

                             div(class="form-group")
                                 label(class=" control-label ") Observaciones
                                 div()
                                     textarea(class="form-control " id="observations" name="observations" )





                             div(class="form-group")
                                 label(class=" control-label ") Fichero de solicitud
                                 div(class="")
                                    input(type="file" name="customer_info_doc")



                             div(class="form-group")
                                 label(class=" control-label ")
                                 div(class="")
                                    input(type="submit" id="new-product-btn" name="save" value="Guardar")




