doctype html
html(lang='es')
    head
        meta(charset='utf-8')
        title   Unosiete
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(name="description" content="Unosiete")
        meta(name="author" content="Codeworqs")
        //link(rel="stylesheet" href="/assets/css/styles.css")
        link(rel="stylesheet" href="/assets/css/styles.css?=121")
        link(rel="stylesheet"  type='text/css' href='/assets/plugins/pines-notify/jquery.pnotify.default.css' )
        link(rel="stylesheet"  type='text/css' href='/bower_components/datatables/media/css/dataTables.bootstrap.min.css' )
        link(rel="stylesheet"  type='text/css' href='/unosiete-styles.css' )
        link(href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600' rel='stylesheet' type='text/css')

        link(rel="icon" type="image/png" href="/unosiete_images/ICO/favicon_b_48x48.ico" )

        //if lt IE 9
            link(rel="stylesheet" href="/assets/css/ie8.css")
            script(type="text/javascript" src="http://html5shim.googlecode.com/svn/trunk/html5.js")
            script(type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/respond.js/1.1.0/respond.min.js")
            script(type="text/javascript" src="/assets/plugins/charts-flot/excanvas.min.js")


    body(class=" ")

        //Head bar
        header(class="navbar navbar-inverse navbar-fixed-top" role="banner")
            a(id="leftmenu-trigger" class="tooltips" data-toggle="tooltip" data-placement="right" title="Toggle Sidebar")
            div(class="navbar-header pull-left")
                a(class="navbar-brand" href="/supervisor/dashboard")

            ul(class="nav navbar-nav pull-right toolbar")
                li(class="dropdown")
                    a(href="#" class="dropdown-toggle username" data-toggle="dropdown")
                        span(class="hidden-xs")
                            = user.first_name
                            i(class="fa fa-caret-down")
                            | &nbsp;
                            img(src="/unosiete_images/us_avatar.png" alt="Avatar")

                    ul(class="dropdown-menu userinfo arrow")
                        li(class="username")
                            a(href="#")
                                div(class="pull-left")
                                    img(src="/unosiete_images/us_avatar.png" alt="Avatar")
                                div(class="pull-right")
                                    h5
                                        | Hola,
                                        = user.first_name
                                    small
                                        | Has iniciado sesion como
                                        span  Supervisor

                        li(class="userlinks")
                            ul(class="dropdown-menu")
                                //ul
                                    a(href="/supervisor/profile/edit/:id")
                                        | Editar su perfil
                                        i(class="pull-right fa fa-pencil")
                                li(class="divider")
                                ul
                                    a(href="/supervisor/logout")
                                        | Salir
                                        i(class="text-right")

                    li(class="dropdown")
                        a(href="#" class="hasnotifications dropdown-toggle" data-toggle='dropdown')
                            i(class="fa fa-envelope")
                        if(productNotification !== null)
                            span(span class="badge")
                                = productNotification.messageCount

                        ul(class="dropdown-menu messages arrow")
                            li(class="dd-header")
                                if(productNotification !== null)
                                    span Tienes #{productNotification.messageCount} notificaciones

                            div(class="scrollthis")
                                if(productNotification !== null)
                                    each item in productNotification
                                        li
                                            a(href="/supervisor/product-notification/show/#{item._id}" )
                                                span(class="time")
                                                img(src="/unosiete_images/us_monogram.jpg" alt="avatar" )
                                                div
                                                    span(class="name") Producto: #{item.name}
                                                    span(class="msg") Cliente :  #{item.client_info.first_name }  #{ item.client_info.last_name}




        //PAGE CONTAINER
        div(id="page-container")
             //BEGIN SIDEBAR
            nav(id="page-leftbar" role="navigation")
                //BEGIN SIDE MENU
                ul(class="acc-menu" id="sidebar")
                    li
                        a(href="/supervisor/dashboard")
                            i(class="fa fa-home")
                            span Panel de gestión


                    li
                        a(href="javascript:;")
                            i(class="fa fa-user")
                            span Clientes particulares
                        ul(class='acc-menu')
                            li
                                a(href="/supervisor/clients/index") Clientes

                            li
                                a(href="/supervisor/clients/new") Alta nuevo cliente


                    li
                        a(href="javascript:;")
                            i(class="fa fa-user")
                            span Clientes empresa
                        ul(class='acc-menu')
                            li
                                a(href="/supervisor/business-clients/index") Clientes

                            li
                                a(href="/supervisor/business-clients/new") Alta nuevo cliente


                    li
                        a(href="javascript:;")
                            i(class="fa fa-user")
                            span Comisiones
                        ul(class='acc-menu')
                            li
                                a(href="/supervisor/commissions/index") Prod/Serv comisionables
                            li
                                a(href="/supervisor/commissions/contracted") Prod/Serv contratados
                            li
                                a(href="/supervisor/commissions/pro-commission") Asistencia pro
                            li
                                a(href="/supervisor/punctuation/index") Puntuación
                            li
                                a(href="/supervisor/commissions/recieved") Comisiones cobradas
                            li
                                a(href="/supervisor/commissions/recieved-pro-commission") Comisiones pro  cobradas





                    li
                        a(href="javascript:;")
                            i(class="fa fa-file-excel-o")
                            span Documentación
                        ul(class='acc-menu')
                            li
                                a(href="/supervisor/documents/index") Ficheros de solicitud
                                a(href="/supervisor/documents/supervisor") Gestion de asesores
                                a(href="/supervisor/documents/general") Documentación
                                a(href="/supervisor/documents/training") Formación
                                a(href="/supervisor/documents/commission") Comisiones
                                a(href="/supervisor/documents/auga") Auga
                                a(href="/supervisor/documents/small_business") Autónomos y Empresa



                    li
                        a(href="javascript:;")
                            i(class="fa fa-users")
                            span  Asesores
                        ul(class='acc-menu')
                            li
                                a(href="/supervisor/recommend-supervisor") Mis asesores

                            li
                                a(href="/supervisor/recommend-supervisor/new") Recomendar asesor





        div(id="page-content")
            div(id='wrap')
                div(id="page-heading")
                    //ol(class="breadcrumb")
                        li(class='active')

                    h1 #{heading}
                    div(id="spinner-wrapper")

                block content



















        footer(role="contentinfo")
            div(class="clearfix")
                ul(class="list-unstyled list-inline pull-left")
                    li Unosiete &copy;  #{currentYear}


                button(class="pull-right btn btn-inverse-alt btn-xs hidden-print" id="back-to-top")
                    i(class="fa fa-arrow-up")







        script(type='text/javascript' src='/assets/js/jquery-1.10.2.min.js')
        script(type='text/javascript' src='/assets/js/jqueryui-1.10.3.min.js')
        script(type='text/javascript' src='/assets/js/bootstrap.min.js')
        script(type='text/javascript' src='/assets/js/enquire.js')
        script(type='text/javascript' src='/assets/js/jquery.cookie.js')
        script(type='text/javascript' src='/assets/js/jquery.nicescroll.min.js')
        script(type='text/javascript' src='/assets/plugins/form-toggle/toggle.min.js')
        script(type='text/javascript' src='/assets/plugins/pulsate/jQuery.pulsate.min.js')
        script(type='text/javascript' src='/assets/plugins/pulsate/jQuery.pulsate.min.js')
        script(type='text/javascript' src='/assets/plugins/form-xeditable/bootstrap3-editable/js/bootstrap-editable.min.js')
        script(type='text/javascript' src='/assets/plugins/bootbox/bootbox.min.js')
        script(type='text/javascript' src='/assets/plugins/pines-notify/jquery.pnotify.min.js')
        script(type='text/javascript' src='/assets/plugins/form-parsley/parsley.min.js')
        script(type='text/javascript' src='/assets/plugins/form-validation/jquery.validate.min.js')
        script(type='text/javascript' src='/assets/plugins/form-validation/additional-methods.min.js')
        script(type='text/javascript' src='/bower_components/jquery-validation/src/localization/messages_es.js')
        script(type='text/javascript' src='/bower_components/blueimp-file-upload/js/vendor/jquery.ui.widget.js')
        script(type='text/javascript' src='/bower_components/blueimp-file-upload/js/jquery.iframe-transport.js')
        script(type='text/javascript' src='/bower_components/blueimp-file-upload/js/jquery.fileupload.js')
        script(type='text/javascript' src='/bower_components/spin.js/spin.min.js')
        script(type='text/javascript' src='/bower_components/spin.js/jquery.spin.js')
        script(type='text/javascript' src='/bower_components/datatables/media/js/jquery.dataTables.min.js')
        script(type='text/javascript' src='/bower_components/datatables/media/js/dataTables.bootstrap.min.js')
        script(type='text/javascript' src='/bower_components/jquery-form/jquery.form.js')
        script(type='text/javascript' src='/assets/plugins/pines-notify/jquery.pnotify.min.js')
        script(type='text/javascript' src='/vendor/validatr.min.js')
        script()
        script(type='text/javascript' src='/shared-functions.js')
        script(src='/unosiete-scripts.js')
        script(type='text/javascript' src='/assets/js/application.js')
        script(type='text/javascript' src='/unosiete-supervisor-scripts.js')
