extends /layout/main.jade
block content
   div(class="container")
      div(class='row')
         div(class="col-md-12")
             div(class="panel panel-gray")
                 div(class="panel-heading")
                     h4 Lista de asesores

                 div(class="panel-body")
                     div(class="table-responsive")
                         table(class="table" style="margin-bottom: 0px;" id="admin-supervisors-list")
                             thead
                                 tr
                                     th(class="col-xs-9 col-sm-3") DNI/NIE
                                     th(class="col-sm-6 hidden-xs") Nombre
                                     //th(class="col-xs-2 col-sm-2") Estado
                                     th(class="col-xs-2 col-sm-2") Opciones

                             tbody(class="selects")
                                 each supervisor in supervisors
                                     tr
                                         td
                                            a(href="/admin/supervisors/show/#{supervisor._id}") #{supervisor.identification_number}
                                         td
                                            a(href="/admin/supervisors/show/#{supervisor._id}") #{supervisor.first_name} #{supervisor.last_name}


                                         td
                                            a(href="/admin/supervisors/edit/#{supervisor._id}"
                                                class="btn btn-info btn-xs") Editar



