extends /layout/main.jade
block content
   div(class="container")
      div(class='row')
         div(class="col-md-12")
            div(class="panel panel-gray")
               div(class="panel-heading")
                  h4 Info asesor

               div(class="panel-body")
                   div(class="row")
                    div(class="col-md-6")
                        img(src="https://res.cloudinary.com/unosiete/image/upload/c_scale,w_112/v1442921643/images/us_monogram.jpg"
                        alt="" class="pull-left" style="margin: 0 20px 20px 0")
                        div(class="table-responsive")
                            table(class="table table-condensed")
                                h3
                                    strong #{supervisor.first_name} #{supervisor.last_name}
                                //thead
                                    tr
                                        th
                                tbody
                                    tr
                                        td  Movil :
                                        td
                                            a #{supervisor.mobile}
                                    tr
                                        td  Telefono :
                                        td
                                            a #{supervisor.telephone}

                                    tr
                                        td  Email :
                                        td
                                            a #{supervisor.email}
                                    tr
                                        td  Dirrección :
                                        td
                                            a #{supervisor.address}  #{supervisor.post_code},  #{supervisor.city}

                                    tr
                                        td  Hoja rescate de datos :
                                        td
                                            if(supervisor.supervisor_recommendation_document)
                                                a(href="#{supervisor.supervisor_recommendation_document.secure_url}")  Hoja rescate de datos

                                    tr
                                        td  Fcha nacimiento :
                                        td
                                            a= moment(new Date(supervisor.date_of_birth)).format('DD/MM/YYYY')
                                    tr
                                        td  Estado actual :
                                        td
                                            if(supervisor.supervisor_recommendation_history[1] != undefined)
                                                if(supervisor.supervisor_recommendation_history[1].state  != 'recomendado')
                                                    a(class="label label-success") #{supervisor.supervisor_recommendation_history[0].state}
                                                else
                                                    a(class="label label-danger") #{supervisor.supervisor_recommendation_history[0].state}

                                    tr
                                        td  Recomendado por :
                                        td

                                            if(history[0])
                                                a #{history[0].created_by.first_name}  #{history[0].created_by.last_name} el día #{moment(new Date(history[0].updated)).format('DD/MM/YYYY HH:mm')}
                                    tr
                                        td  Validado por :
                                        td
                                            if(history[1])
                                                a #{history[1].approved_by.first_name}  #{history[1].approved_by.last_name} el día #{moment(new Date(history[1].updated)).format('DD/MM/YYYY HH:mm')}
                                            else
                                                a(class="label label-warning") Pendiente de validar


                                    tr
                                        td  Dado de  alta :
                                        td
                                            a= moment(new Date(supervisor.created)).format('DD/MM/YYYY')


                                tfoot

                                    tr
                                        td
                                            p Estado de la cuenta:
                                            if(supervisor.authorized == true)
                                                 a(class="label label-success") Activado
                                            else
                                                a(class="label label-danger") No activado

                                    tr
                                        td
                                            p Activar la cuenta de este asesor
                                            select(id="authorize-account" name="authorize-account" data-user-id="#{supervisor._id}")
                                                option(value="none") Elija una opcion
                                                option(value="true") Activar
                                                option(value="false") Desactivar




                                    tr
                                        td
                                            p Validar asesor
                                            select(id="validate-supervisor-request" name="validate-supervisor-request" data-user-id="#{supervisor._id}")
                                                option(value="none") Elija una opcion
                                                option(value="true") Aceptar
                                                option(value="false") Rechazar



