extends /layout/main.jade
block content
    div(class="container")
        div(class='row')
            div(class="col-md-12")
                div(class="panel panel-gray")
                    div(class="panel-heading")
                        h4
                            i(class="fa fa-cloud icon-highlight icon-highlight-primary")
                            |    Puntos
                        div(class="options")
                            ul(class="nav nav-tabs")
                                li(class="active")
                                    a(href="#enviado" data-toggle="tab")

                    div(class="panel-body")
                        div(class="tab-content")
                            div(class="tab-pane active" id="enviado")
                                div(class="table-responsive ")
                                    table(class="table col-md-12" id="admin-new-contracts-list")
                                        thead
                                            tr
                                                th Producto
                                                th Sector
                                                th Puntos
                                                th Vendido


                                        tbody(class="table-hover")
                                            each product in products
                                                tr
                                                    td() #{product.name}
                                                    td() #{product.sector}
                                                    td() #{product.points}
                                                    td()
                                                        =moment(product.created).format('DD/MM/YYYY HH:mm')
