extends /layout/main.jade
block content
    div(class="container")
        div(class='row')
            div(class="col-md-12")
                div(class="panel panel-gray")
                    div(class="panel-heading")
                        h4 Productos no contratados
                    div(class="panel-body")
                        div(class="tab-content")
                            div(class="tab-pane active" id="enviado")
                                div(class="table-responsive ")
                                    table(class="table col-md-12" id="admin-new-contracts-list")
                                        thead
                                            tr
                                                th Producto
                                                th Sector
                                                th Asesor
                                                th Cliente
                                                th Estado
                                                th Opciones
                                                th Creado
                                        tbody(class="table-hover")
                                            each product in products
                                                tr
                                                    td
                                                        a(href="/admin/dashboard/new-contract-details/#{product._id}") #{product.name}
                                                    td
                                                        a(href="/admin/dashboard/new-contract-details/#{product._id}") #{product.sector}
                                                    td
                                                        if(product.supervisor_info)
                                                            a(href="/admin/dashboard/new-contract-details/#{product._id}") #{product.supervisor_info.first_name} #{product.supervisor_info.last_name}
                                                        else
                                                            p
                                                    td
                                                        a(href="/admin/dashboard/new-contract-details/#{product._id}") #{product.client_info.first_name} #{product.client_info.last_name}
                                                    td
                                                        form(action="" class="form-inline row-border" id="inline")
                                                            div(class="form-group")
                                                                label(class="col-sm-3 control-label")
                                                            div(class="col-sm-6")
                                                                select(class='product-contract-state' data-product-id="#{product._id}")
                                                                    option(value="#{product.contract_state}" selected=true) #{product.contract_state}
                                                                    option Enviado
                                                                    option Gestionado
                                                                    option Incidencia
                                                                    option Verificado
                                                                    option Tramitado
                                                                    option Calificado
                                                                    option Activo
                                                                    option Contratado
                                                                    option No contratado
                                                    td
                                                        div(class="btn-group")
                                                            button(type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown") Opciones
                                                                span(class="caret")
                                                            ul(class="dropdown-menu" role="menu")
                                                                li
                                                                    a(href="/admin/product-notification?product_id=#{product._id}&product_state=#{product.contract_state}") Notificiar
                                                                li
                                                                    a(href="/admin/product-notification/show/#{product._id}") Historial
                                                    td
                                                        =moment(product.created).format('DD/MM/YYYY HH:mm')
