/*start: error class*/
.error{
    color:red;
    font-size: medium;
}
/*end: error class*/

/*start:add color to font awesome icons */
 i.icon-success{
     color: greenyellow;
 }
/*end:add color to font awesome icons */