doctype html
html(lang='es')
    head
        meta(charset='utf-8')
        title   Uno siete - Crear cuenta
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(name="description" content="Uno Siete")
        meta(name="author" content="Codeworqs")
        link(rel="stylesheet" href="/assets/css/styles.css")
        link(href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600' rel='stylesheet' type='text/css')
    body(class="focusedform")
        div(class="verticalcenter")
            a(href="/" )
                img(img src="/assets/img/logo-big.png" alt="Logo" class="brand")
            div(class="panel panel-primary")
                div(class="panel-body")
                    h4(class="text-center" style="margin-bottom: 25px;") Crear cuenta
                    if messages.error
                        div(class="alert alert-danger" role="alert")
                            strong #{messages.error}

                    if messages.success
                        div(class="alert alert-success" role="alert")
                            strong #{messages.success}

                    form(action="/admin/signup" name="admin-signup" method='post'  class="form-horizontal" style="margin-bottom: 0px !important;")
                        div(class="form-group")
                            div(class="col-sm-12")
                                div(class="input-group")
                                    span(class="input-group-addon")
                                        i(class="fa fa-user")
                                    //input(type="hidden" name="_csrf" value="#{csrfToken}")
                                    input(type="text" class="form-control" id="first_name"  name="first_name" placeholder="Nombres")


                        div(class="form-group")
                            div(class="col-sm-12")
                                div(class="input-group")
                                    span(class="input-group-addon")
                                        i(class="fa fa-user")
                                    input(type="text" class="form-control" id="last_name"  name="last_name" placeholder="Apellidos")




                        div(class="form-group")
                                div(class="col-sm-12")
                                    div(class="input-group")
                                        span(class="input-group-addon")
                                            i(class="fa fa-envelope-o")
                                        input(type="email" class="form-control" id="email"  name="email" placeholder="Email")


                        div(class="form-group")
                            div(class="col-sm-12")
                                div(class="input-group")
                                    span(class="input-group-addon")
                                        i(class="fa fa-lock")
                                    input(type="password" class="form-control" id="password" name="password" placeholder="Contraseña")


                        div(class="form-group")
                            div(class="col-sm-12")
                                div(class="input-group")
                                    span(class="input-group-addon")
                                        i(class="fa fa-lock")
                                    input(type="password" class="form-control" id="password_confirm" name="password_confirm" placeholder="Repite su contraseña")


                        div(class="form-group")
                            div(class="col-sm-12")
                                div(class="input-group")
                                    input(type="submit" class="btn btn-primary" value='Crear cuenta')


                div(class="panel-footer")
                    a(href="/admin/login" class="pull-left btn btn-link" style="padding-left:0") Iniciar sesión
                    //div(class="pull-right")
                        input(type="submit" class="btn btn-primary" value='Crear cuenta')


