extends /layout/main.jade
block content
   div(class="container")
      div(class='row')
         div(class="col-md-12")
            div(class="panel panel-gray")
               div(class="panel-heading")
                  h4
                     i(class="fa fa-cloud icon-highlight icon-highlight-primary")
                     |    Producción en tramite

                  div(class="options")
                     ul(class="nav nav-tabs")
                        li(class="active")
                           a(href="#enviado" data-toggle="tab") Enviado



               div(class="panel-body")
                  div(class="tab-content")
                     div(class="tab-pane active" id="enviado")
                        div(class="table-responsive ")
                           table(class="table col-md-12" id="admin-cosmetics-contracts-list")
                              thead
                                 tr
                                    th Producto
                                    th Sector
                                    th Asesor
                                    th Cliente
                                    th Estado
                                    th Creado

                              tbody(class="table-hover")
                                 each product  in products
                                    tr
                                       td
                                           a(href="/admin/dashboard/new-contract-details/#{product._id}") #{product.name}

                                       td
                                           a(href="/admin/dashboard/new-contract-details/#{product._id}") #{product.sector}

                                       td
                                           a(href="/admin/dashboard/new-contract-details/#{product._id}") #{product.supervisor_info.first_name} #{product.supervisor_info.last_name}

                                       td
                                           a(href="/admin/dashboard/new-contract-details/#{product._id}") #{product.client_info.first_name} #{product.client_info.last_name}

                                       td
                                          form(action="" class="form-inline row-border" id="inline")
                                             div(class="form-group")
                                                label(class="col-sm-3 control-label")
                                             div(class="col-sm-6")
                                                select(class='product-contract-state' data-product-id="#{product._id}")
                                                   option(value="#{product.contract_state}" selected) #{product.contract_state}
                                                   option Enviado
                                                   option Gestionado
                                                   option Incidencia
                                                   option Comisionable
                                                   option Contratado
                                                   option No contratado
                                       td
                                          =moment(product.created).format('DD/MM/YYYY HH:mm')












               //Comisionable options modal
               div(class='modal' id='comisionable-modal')
                  div(class="modal-dialog")
                     div(class="modal-content")
                        div(class="modal-header")
                           button(type="button" class="close" data-dismiss="modal" aria-hidden="true") x
                           h4(class="modal-title") Complete los campos
                        div(class="modal-body")

                           form(action="" class="form-horizontal " id="comisionable-form")
                              div(class="form-group")
                                 label(class=" control-label")
                                 |   Comisión por cartera personal
                                 div(class="")
                                    input(type="text" class="form-control" id="cartera-personal" placeholder="Comisión por cartera personal")

                              div(class="form-group")
                                 label(class=" control-label")
                                 |   Comisión  facturación compartida
                                 div(class="")
                                    input(type="text" class="form-control" id="facturacion-compartida" placeholder="Comisión por facturacion compartida")

                              div(class="form-group")
                                 label(class=" control-label")
                                 |   Comisión por soporte pro
                                 div(class="")
                                    input(type="text" class="form-control" id="soporte-pro" placeholder="Comisión por soprote pro")

                              div(class="form-group")
                                 label(class=" control-label")
                                 div(class="")
                                    button(type="button" class="btn btn-default" data-dismiss="modal") Cancelar
                                    button(type="button" class="btn btn-primary" id='comisionable-save-btn') Guardar


                        div(class="modal-footer")


