doctype html
html(lang='es')
    head
        meta(charset='utf-8')
        title   Unosiete
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(name="description" content="Unosiete")
        meta(name="author" content="Codeworqs")
        link(rel="stylesheet" href="/assets/css/styles.css")
        link(rel="stylesheet" href="/bower_components/jGrowl/jquery.jgrowl.min.css")
        link(href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600' rel='stylesheet' type='text/css')
        link(rel="icon" type="image/ico" href="/unosiete_images/ICO/favicon_b_48x48.ico" )
        script(type='text/javascript' src='/assets/js/jquery-1.10.2.min.js')
        script(type='text/javascript' src='/assets/plugins/form-validation/jquery.validate.min.js')
        script(type='text/javascript' src='/assets/plugins/form-validation/additional-methods.min.js')
        script(type='text/javascript' src='/bower_components/jquery-validation/src/localization/messages_es.js')
        script(type='text/javascript' src='/bower_components/spin.js/spin.min.js')
        script(type='text/javascript' src='/bower_components/spin.js/jquery.spin.js')
        script(type='text/javascript' src='/bower_components/jGrowl/jquery.jgrowl.min.js')
        script(type='text/javascript' src='/shared-functions.js')
        script(type='text/javascript' src='/unosiete-supervisor-scripts.js')
    body(class="focusedform")
        div(class="verticalcenter")
            a(href="/" )
                img(img src="/unosiete_images/logos/us_224_30.png" alt="Logo" class="brand")
            div(class="panel panel-primary")
                div(class="panel-body")
                    h4(class="text-center" style="margin-bottom: 25px;") Cambiar contraseña assesor
                        //a(href="/admin/signup")  Crear cuenta
                    form(action="/supervisor/recover-password/new-password" id="change-password-form" method='post' class="form-horizontal" style="margin-bottom: 0px !important;")
                        if messages.error
                            div(class="alert alert-danger" role="alert")
                                strong #{messages.error}
                        if messages.info
                            div(class="alert alert-danger" role="alert")
                                strong #{messages.info}
                        if messages.success
                            div(class="alert alert-success" role="alert")
                                strong #{messages.success}
                        div(class="form-group")
                            div(class="col-sm-12")
                                div(class="input-group")
                                    span(class="input-group-addon")
                                        i(class="fa fa-user")
                                    input(type="password" class="form-control" id="password"  name='password' placeholder="Contraseña")
                                    input(type="hidden" class="form-control" id="hash"  name='hash' value="#{hash}")  

                        div(class="form-group")
                           div(class="col-sm-12")
                              div(class="input-group")
                                 span(class="input-group-addon")
                                    i(class="fa fa-user")
                                 input(type="password" class="form-control" id="password_confirm"  name='password_confirm' placeholder="Repite la Contraseña")

                        div(class="form-group")
                            div(class="col-sm-12")
                                div(class="input-group")
                                    p(id="error-message" style="color:red;")
                                    button(type="submit" class="btn btn-primary" id="recover-password-create") Guardar
                        div(class="form-group")
                            div(class="col-sm-12")
                                //div(class="input-group")
                                   a(href="/admin/login" class="pull-left btn btn-link" style="padding-left:0") Iniciar sesión como admin
                //div(class="panel-footer")
                    a(href="/supervisor/recover-password" class="pull-left btn btn-link" style="padding-left:0") Olividaste tu contraseña
                // div(class="pull-right")
                     button(type="submit" class="btn btn-primary") Inicar sesión
