extends /layout/supervisor/main.jade
block content
   div(class="container")
      div(class='row')
         div(class="col-md-12")

             div(class="panel panel-gray")
                 div(class="panel-heading")
                     h4 Listado de clientes empresa

                 div(class="panel-body")
                     div(class="-table-responsive")
                         table(class="table" style="margin-bottom: 0px; " id="supervisor-business-clients-list")
                             thead
                                 tr
                                     th(class="col-xs-9 col-sm-3")  CIF/NIF
                                     th(class="col-sm-6 hidden-xs") Nombre
                                     th(class="col-xs-2 col-sm-2")  Tipo
                                     th(class="col-xs-2 col-sm-2")  Opciones

                             tbody(class="selects")
                                 each client in clients
                                     tr
                                         td
                                             a(href="/supervisor/business-clients/show/#{client._id}") #{client.identification_number}
                                         td
                                             a(href="/supervisor/business-clients/show/#{client._id}") #{client.first_name}
                                         td
                                             if  client.business_client == true
                                                 span(class="label label-warning") Empresa
                                         td
                                             div(class="btn-group")
                                                 button(type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown")
                                                    | Opciones
                                                    span(class="caret")

                                                 ul(class="dropdown-menu" role="menu")
                                                     li
                                                        a(href="/supervisor/business-clients/edit/#{client._id}") Editar









