extends /layout/supervisor/main.jade
block content
   div(class="container")
      div(class='row')
         div(class="col-md-12")

             div(class="panel panel-gray")
                 div(class="panel-heading")
                     h4 Datos Cliente

                 div(class="panel-body")
                     div(class="row")
                         div(class="col-md-6")
                             img(src="https://res.cloudinary.com/unosiete/image/upload/c_scale,w_112/v1442921643/images/us_monogram.jpg"
                             alt="" class="pull-left" style="margin: 0 20px 20px 0;")
                             div(class="table-responsive")
                                 table(class="table table-condensed")
                                     h3
                                         strong #{client.first_name}

                                     tbody

                                         tr
                                             td  Adminstrador & autónomo :
                                             td
                                                 a #{client.contact_person}

                                         tr
                                             td  CIF/NIF :
                                             td
                                                 a #{client.identification_number}

                                         tr
                                             td  Movil :
                                             td
                                                 a #{client.mobile}
                                         tr
                                             td  Telefono :
                                             td
                                                 a #{client.telephone}

                                         tr
                                             td  Fax :
                                             td
                                                 a #{client.fax}

                                         tr
                                             td  Email :
                                             td
                                                 a #{client.email}
                                         tr
                                             td  Dirrección :
                                             td
                                                 a #{client.address},  #{client.post_code},  #{client.city}

                                         tr
                                             td  Provincia :
                                             td
                                                 a #{client.province}

                                         tr
                                             td  Dado de  alta :
                                             td
                                                 a= moment(client.created).format('DD/MM/YYYY')


             <!-- Productos contractados -->
      div(class='row')
         div(class="col-md-12")
             div(class="panel panel-gray")
                 div(class="panel-heading")
                     h4 Productos/Servicios contratados

                     div(class="pull-right")
                        a(href="/supervisors/products/new/?client_id=#{client._id}" class="new-client-product btn btn-danger "
                                     id="#{client._id}") Nuevo producto/servicio

                 div(class="panel-body")
                     div(class="row")
                         div(class="col-md-10")

                             each product in  clientProducts
                                 p
                                    a(href="/supervisors/products/edit/#{product._id}" class="btn btn-info") Editar
                                    span()
                                        a(href="/supervisor/product-notification/new/?product_id=#{product._id}&product_state=#{product.contract_state}" class="btn btn-danger") Notificación
                                    span()
                                        a(href="/supervisor/product-notification/show/#{product._id}" class="btn btn-warning") Ver historial

                                 p Sector : #{product.sector}
                                 p Producto : #{product.name}
                                 p Creado :
                                     =moment(product.created).format('DD/MM/YYYY HH:mm')
                                 p Estado : #{product.contract_state}
                                 p Documentación
                                 if(product.document_1 && product.document_name_1)
                                     p
                                         a(href="#{product.document_1.secure_url}" id="doc1") #{product.document_name_1}

                                 if(product.document_2 && product.document_name_2)
                                     p
                                         a(href="#{product.document_2.secure_url}" id="doc2") #{product.document_name_2}

                                 if(product.document_3 && product.document_name_3)
                                     p
                                         a(href="#{product.document_3.secure_url}" id="doc3") #{product.document_name_3}
                                 hr














