extends /layout/supervisor/main.jade
block content
   div(class="container")
      div(class='row')
         div(class="col-md-12")
            div(class="panel panel-info")
               div(class="panel-heading")
                  h4 Lista de documentos
                  div(class="options")
                     a(href="#")
                        i(class="fa fa-cogs")
               div(class="panel-body")
                  div(id="accordioninpanel" class="accordion-group ")
                     div(class="accordion-item")
                        a(class="accordion-title " data-toggle="collapse" data-parent="#accordioninpanel" href="#collapseinFive")
                           h4 Auga
                        div(id="collapseinFive" class="collapse")
                           div(class="accordion-body")
                              //p
                                 a(href="https://res.cloudinary.com/unosiete/image/upload/v1445509536/auga/Borrador_de_convenio_AUGA_ASESORIAS.pdf") Convenio asesores
