extends /layout/supervisor/main.jade
block content
   div(class="container")
      div(class='row')
         div(class="col-md-12")
            div(class="panel panel-info")
               div(class="panel-heading")
                  h4 Lista de documentos
                  div(class="options")
                       a(href="#")
                            i(class="fa fa-cogs")
               div(class="panel-body")
                   div(id="accordioninpanel" class="accordion-group ")


                       div(class="accordion-item")
                           a(class="accordion-title " data-toggle="collapse" data-parent="#accordioninpanel" href="#collapseinOne")
                               h4 Teleco. & Energías
                           div(id="collapseinOne" class="collapse")
                               div(class="accordion-body")
                                   p
                                       a(href="https://res.cloudinary.com/unosiete/image/upload/v1442850744/original_documents/telecommunication/us_ficha_telecos.pdf") Ficha telecos.

                                   p
                                       a(href="https://res.cloudinary.com/unosiete/image/upload/v1442850744/original_documents/telecommunication/us_ficha_energia_gas.pdf") Ficha energía & gas.




                       div(class="accordion-item")
                           a(class="accordion-title " data-toggle="collapse" data-parent="#accordioninpanel" href="#collapseinTwo")
                               h4 Seguros Generales
                           div(id="collapseinTwo" class="collapse")
                               div(class="accordion-body")
                                   p
                                       a(href="https://res.cloudinary.com/unosiete/image/upload/v1442849219/original_documents/insurance/us_cot_hogar_local.pdf") Cotizacion hogar/local
                                   p
                                       a(href="https://res.cloudinary.com/unosiete/image/upload/v1442849215/original_documents/insurance/us_cot_accidentes.pdf") Accidentes y enfermedades
                                   p
                                       a(href="https://res.cloudinary.com/unosiete/image/upload/v1442849216/original_documents/insurance/us_cot_autos.pdf") Cotización autos
                                   p
                                       a(href="https://res.cloudinary.com/unosiete/image/upload/v1442849216/original_documents/insurance/us_cot_comunidad.pdf") Cotización  comunidad
                                   p
                                       a(href="https://res.cloudinary.com/unosiete/image/upload/v1442849216/original_documents/insurance/us_cot_cazador.pdf") Cotización  cazador
                                   p
                                       a(href="https://res.cloudinary.com/unosiete/image/upload/v1442849216/original_documents/insurance/us_cot_decesos.pdf") Cotización decesos
                                   p
                                       a(href="https://res.cloudinary.com/unosiete/image/upload/v1442849216/original_documents/insurance/us_cot_embarcacion.pdf") Cotización embarcación
                                   p
                                       a(href="https://res.cloudinary.com/unosiete/image/upload/v1442849219/original_documents/insurance/us_cot_vida.pdf") Cotizacion de vida

                                   p
                                       a(href="https://res.cloudinary.com/unosiete/image/upload/v1442849218/original_documents/insurance/us_cot_responsabilidad_civil.pdf") Responsabilidad civil


                                   p
                                       a(href="https://res.cloudinary.com/unosiete/image/upload/v1444117767/original_documents/insurance/us_cot_hogar.pdf") Cotización hogar
                                   p
                                       a(href="https://res.cloudinary.com/unosiete/image/upload/v1444118065/original_documents/insurance/us_cot_remolque.pdf") Cotización remolque
                                   p
                                       a(href="https://res.cloudinary.com/unosiete/image/upload/v1444118139/original_documents/insurance/us_cot_responsabilidad.pdf") Responsabilidad


                       div(class="accordion-item")
                           a(class="accordion-title " data-toggle="collapse" data-parent="#accordioninpanel" href="#collapseinThree")
                               h4 Ahorro & Inversión
                           div(id="collapseinThree" class="collapse")
                               div(class="accordion-body")
                                   p
                                       a(href="https://res.cloudinary.com/unosiete/image/upload/v1442848378/original_documents/investment/us_ficha_ahorro.pdf") Ahorro & inversión

                       div(class="accordion-item")
                           a(class="accordion-title " data-toggle="collapse" data-parent="#accordioninpanel" href="#collapseinFour")
                               h4 Autónomos y Empresa
                           div(id="collapseinFour" class="collapse")
                               div(class="accordion-body")


                       div(class="accordion-item")
                           a(class="accordion-title " data-toggle="collapse" data-parent="#accordioninpanel" href="#collapseinFive")
                               h4 Alimentación & E-commerce
                           div(id="collapseinFive" class="collapse")
                               div(class="accordion-body")
                                   p
                                     //a(href="http://res.cloudinary.com/unosiete/image/upload/v1440150744/original_documents/us_rescate.pdf") Hoja de rescate de datos

                       div(class="accordion-item")
                           a(class="accordion-title " data-toggle="collapse" data-parent="#accordioninpanel" href="#collapseinSix")
                               h4 Mantenimiento  & Reparaciones
                           div(id="collapseinSix" class="collapse")
                               div(class="accordion-body")
                                   p
                                       a(href="https://res.cloudinary.com/unosiete/image/upload/v1442847756/original_documents/maintenance/us_pres_neumaticos.pdf") Presupuesto neumaticos

                                   p
                                       a(href="https://res.cloudinary.com/unosiete/image/upload/v1442847756/original_documents/maintenance/us_pres_auto.pdf") Presupuesto de reparación  y mantenimiento de auto



                       div(class="accordion-item")
                           a(class="accordion-title " data-toggle="collapse" data-parent="#accordioninpanel" href="#collapseinSeven")
                               h4 Hogar & Bienestar
                           div(id="collapseinSeven" class="collapse")
                               div(class="accordion-body")
                                   p
                                       //a(href="http://res.cloudinary.com/unosiete/image/upload/v1440150744/original_documents/us_rescate.pdf") Hoja de rescate de datos