extends /layout/supervisor/main.jade
block content
    div(class="container")
        div(class='row')
            div(class="col-md-12")
                div(class="panel panel-info")
                    div(class="panel-heading")
                        h4 Lista de documentos
                        div(class="options")
                            a(href="#")
                                i(class="fa fa-cogs")
                    div(class="panel-body")
                        div(id="accordioninpanel" class="accordion-group ")

                            div(class="accordion-item")
                                a(class="accordion-title " data-toggle="collapse" data-parent="#accordioninpanel" href="#collapseinFive")
                                    h4 Enlaces
                                div(id="collapseinFive" class="collapse")
                                    div(class="accordion-body")
                                        p
                                            a(href="https://res.cloudinary.com/unosiete/image/upload/v1453798738/original_documents/small_business/Contrato_Alumno_Crecicap_ok.pdf") Contracto alumno crecicap

                                        p
                                            a(href="https://res.cloudinary.com/unosiete/image/upload/v1453798740/original_documents/small_business/Contrato_Empresa_Crecicap_ok.pdf") Contrato empresa crecicap

                                        p
                                            a(href="https://res.cloudinary.com/unosiete/image/upload/v1453798737/original_documents/small_business/Contrato_Empresa-Alumno_Crecicap_ok.pdf") Contrato empresa alumno crecicap

                                        p
                                            a(href="https://res.cloudinary.com/unosiete/image/upload/v1453798738/original_documents/small_business/Ficha_Contratos_para_la_formación.pdf") Ficha contratos para la formación

                                        p
                                            a(href="https://res.cloudinary.com/unosiete/image/upload/v1453798735/original_documents/small_business/LOPD_MANDATO_AUGA_151112.pdf") LOPD MANDATO AUGA 151112