extends /layout/supervisor/main.jade
block content
    div(class="container")
        div(class='row')
            div(class="col-md-12")
                div(class="panel panel-info")
                    div(class="panel-heading")
                        h4 Lista de documentos
                        div(class="options")
                            a(href="#")
                                i(class="fa fa-cogs")
                    div(class="panel-body")
                        div(id="accordioninpanel" class="accordion-group ")
                            div(class="accordion-item")
                                a(class="accordion-title " data-toggle="collapse" data-parent="#accordioninpanel" href="#collapseinFive")
                                    h4 Gestión asesores
                                div(id="collapseinFive" class="collapse")
                                    div(class="accordion-body")
                                        p
                                            a(href="https://res.cloudinary.com/unosiete/image/upload/v1441093148/original_documents/supervisor_management/us_rescate.pdf") Hoja de rescate de datos
                                        p
                                            a(href="http://res.cloudinary.com/unosiete/image/upload/v1444119056/original_documents/supervisor_management/us_politicas__09_14.pdf") Manual de políticas & procedimientos
                                        //p
                                            a(href="https://res.cloudinary.com/unosiete/image/upload/v1441093160/original_documents/supervisor_management/us_comisiones_empresa.pdf") Comisiones empresa
                                        p
                                            a(href="https://res.cloudinary.com/unosiete/image/upload/v1441094831/original_documents/supervisor_management/us_presentacion.compressed.pdf") Presentación
                                        //p
                                            a(href="https://res.cloudinary.com/unosiete/image/upload/v1441093160/original_documents/supervisor_management/us_comisiones_mantenimientos.pdf") Comisiones mantenimiento
                                        //p
                                            a(href="https://res.cloudinary.com/unosiete/image/upload/v1441093160/original_documents/supervisor_management/us_comisiones_proteccion.pdf") Comisiones protección

