extends /layout/supervisor/main.jade
block content	
    div(class="container")
        div(class='row')
            div(class="col-md-12")
                div(class="container")
                    div(class="row")
                        div(class="col-md-12")
                            div(class="row")
                                div(class="col-md-3 col-xs-12 col-sm-6")
                                    a(class="info-tiles tiles-success" href="#")
                                        div(class="tiles-heading") Telecos & Energías
                                        div(class="tiles-body-alt")
                                            i(class="fa fa-home")
                                            div(class="text-center")
                                                span(class="text-top") €
                                                =sharedCommissionTelecom


                                            small() Facturación compartida trimestre actual
                                            //if(telecomQualiifed)
                                                small()
                                                each val in telecomQualiifed
                                                    =val
                                        div(class="tiles-footer") &nbsp;



                                div(class="col-md-3 col-xs-12 col-sm-6")
                                    a(class="info-tiles tiles-orange" href="#")
                                        div(class="tiles-heading") Seguros generales
                                        div(class="tiles-body-alt")
                                            i(class="fa fa-home")
                                            div(class="text-center")
                                                span(class="text-top") €
                                                =sharedCommissionInsurance
                                            small() Facturación compartida trimestre actual
                                        div(class="tiles-footer") &nbsp;



                                div(class="col-md-3 col-xs-12 col-sm-6")
                                    a(class="info-tiles tiles-alizarin" href="#")
                                        div(class="tiles-heading") Ahorro & Inversión
                                        div(class="tiles-body-alt")
                                            i(class="fa fa-home")
                                            div(class="text-center")
                                                span(class="text-top") €
                                                =sharedCommissionInversion
                                            small() Facturación compartida trimestre actual
                                        div(class="tiles-footer") &nbsp;



                                div(class="col-md-3 col-xs-12 col-sm-6")
                                    a(class="info-tiles tiles-toyo" href="#")
                                        div(class="tiles-heading") Autónomos & Empresa
                                        div(class="tiles-body-alt")
                                            i(class="fa fa-home")
                                            div(class="text-center")
                                                span(class="text-top") €
                                                =sharedCommissionSmallBusiness
                                            small() Facturación compartida trimestre actual
                                        div(class="tiles-footer") &nbsp;


                                div(class="col-md-3 col-xs-12 col-sm-6")
                                    a(class="info-tiles tiles-alizarin" href="#")
                                        div(class="tiles-heading") Mantenimientos  & Reparaciones
                                        div(class="tiles-body-alt")
                                            i(class="fa fa-home")
                                            div(class="text-center")
                                                span(class="text-top") €
                                                =sharedCommissionMaintenance
                                            small() Facturación compartida trimestre actual
                                        div(class="tiles-footer") &nbsp;


                                div(class="col-md-3 col-xs-12 col-sm-6")
                                    a(class="info-tiles tiles-success" href="#")
                                        div(class="tiles-heading") Alimentación & E-commerce
                                        div(class="tiles-body-alt")
                                            i(class="fa fa-home")
                                            div(class="text-center")
                                                span(class="text-top") €
                                                =sharedCommissionEcommerce
                                            small() Facturación compartida trimestre actual
                                        div(class="tiles-footer") &nbsp;



                                div(class="col-md-3 col-xs-12 col-sm-6")
                                    a(class="info-tiles tiles-orange" href="#")
                                        div(class="tiles-heading") Hogar & Bienestar
                                        div(class="tiles-body-alt")
                                            i(class="fa fa-home")
                                            div(class="text-center")
                                                span(class="text-top") €
                                                =sharedCommissionCosmetics
                                            small() Facturación compartida trimestre actual
                                        div(class="tiles-footer") &nbsp;


                                            span(class=" pull-right ")

































