extends /layout/supervisor/main.jade
block content
   div(class="container")
      div(class='row')
         div(class="col-md-12")

            div(class="panel panel-gray")
               div(class="panel-heading")
                  h4 Rellene los campos para dar de alta un nuevo cliente

               div(class="panel-body")

                  form(action="/supervisor/clients/new" class=" col-md-6"  id="supervisor-create-client-form" method="post" )
                     div(class="form-group")
                        label(class=" control-label")
                        |   Nombre
                        div(class="")
                           input(type="text" class="form-control required" id="first_name" name="first_name"  placeholder="Nombre" )

                     div(class="form-group")
                        label(class=" control-label")
                        |   Apellidos
                        div(class="")
                           input(type="text" class="form-control required" id="last_name" name="last_name" placeholder="Apellidos")

                     div(class="form-group")
                        label(class=" control-label")
                        |   DNI/NIF
                        div(class="")
                           input(type="text" class="form-control required" id="identification_number" name="identification_number" placeholder="DNI/NIF")

                     div(class="form-group")
                        label(class=" control-label")
                        |  Email
                        div(class="")
                           input(type="email" class="form-control email required" id="email" name="email" placeholder="Email")

                     div(class="form-group")
                        label(class=" control-label")
                        |  Tel
                        div(class="")
                           input(type="text" class="form-control " id="telephone" name="telephone" placeholder="+34 981 00 00 00")

                     div(class="form-group")
                        label(class=" control-label")
                        |  Móvil
                        div(class="")
                           input(type="text" class="form-control " id="mobile" name="mobile" placeholder="+34 634 00 00 00")

                     div(class="form-group")
                        label(class=" control-label")
                        |   Dirección
                        div(class="")
                           input(type="text" class="form-control required" id="address" name="address" placeholder="Calle da horta")

                     div(class="form-group")
                        label(class=" control-label")
                        |   Localidad/Ciudad
                        div(class="")
                           input(type="text" class="form-control required" id="city" name="city" placeholder="Localidad")

                     div(class="form-group")
                        label(class=" control-label")
                        |   Código postal
                        div(class="")
                           input(type="text" class="form-control number required" id="post_code" name="post_code" placeholder="Código postal")

                     div(class="form-group")
                        label(class=" control-label")
                        |   Fecha de nacimiento
                        div(class="")
                           input(type="text" class="form-control required" id="date_of_birth" name="date_of_birth" placeholder="DD/MM/YYYY")

                     div(class="form-group")
                        label(class=" control-label") Sexo
                        div(class="")
                           select(name="sex" id="sex" class="required")
                              option(value="hombre") Hombre
                              option(value="mujer") Mujer

                     div(class="form-group")
                        div(class="")
                           button(type="submit" class="btn btn-primary" id="supervisor-new-client-save-btn" ) Crear cliente



               div(class="modal-footer")
