extends /layout/supervisor/main.jade
block content
    div(class="container")
        div(class='row')
            div(class="col-md-12")
                div(class="panel panel-info")
                    div(class="panel-heading")
                        h4 Lista de documentos
                        div(class="options")
                            a(href="#")
                                i(class="fa fa-cogs")
                    div(class="panel-body")
                        div(id="accordioninpanel" class="accordion-group ")

                            div(class="accordion-item")
                                a(class="accordion-title " data-toggle="collapse" data-parent="#accordioninpanel" href="#collapseinFive")
                                    h4 Comisiones
                                div(id="collapseinFive" class="collapse")
                                    div(class="accordion-body")
                                        //p
                                            a(href="https://res.cloudinary.com/unosiete/image/upload/v1442846389/original_documents/commissions/us_marg_ahorro_inversion.pdf") Ahorro inversión & protección

                                        //p
                                            a(href="https://res.cloudinary.com/unosiete/image/upload/v1442846390/original_documents/commissions/us_marg_autonomos.pdf") Autónomos & empresas

                                        //p
                                            a(href="https://res.cloudinary.com/unosiete/image/upload/v1442846389/original_documents/commissions/us_marg_mant_repara.pdf") Mantenimiento y reparaciones

                                        //p
                                            a(href="https://res.cloudinary.com/unosiete/image/upload/v1442846390/original_documents/commissions/us_marg_orange.pdf") Orange recidencial y empresa monolínea

                                        //p
                                            a(href="https://res.cloudinary.com/unosiete/image/upload/v1442846390/original_documents/commissions/us_marg_orangeempresa.pdf") Orange empresa +5