extends /layout/main.jade
block content
    div(class="container")
        div(class='row')
            div(class="col-md-12")
                div(class="panel panel-gray")
                    div(class="panel-heading")
                        h4 Resumen  de solicitud de pago de comisiones
                    div(class="panel-body")

                        div(class="table-responsive")
                            table(class="table" style="margin-bottom: 0px;" id="supervisor-direct-commission-list")
                                thead
                                    tr
                                        th(class="col-xs-9 col-sm-3") Vendido
                                        th(class="col-xs-9 col-sm-3") Comisionado
                                        th(class="col-sm-6 col-sm-3") Producto
                                        th(class="col-sm-6 col-sm-3") Cliente
                                        th(class="col-sm-6 col-sm-3") Asesor pro
                                        th(class="col-sm-6 col-sm-3") Comisión pro
                                        th(class="col-xs-9 col-sm-3") Comisión cartera personal
                                        //th(class="col-xs-2 col-sm-2") Opciones

                                tbody(class="selects")

                                    each product in products
                                        tr
                                            td
                                                a(href="#")
                                                    =moment(product.created).format('DD/MM/YYYY HH:mm')
                                            td
                                                a(href="#")
                                                    =moment(product.payment_received_date).format('DD/MM/YYYY HH:mm')


                                            td
                                                a(href="#") #{product.name}
                                            td
                                                a(href="#") #{product.client_info.first_name} #{product.client_info.last_name}

                                            td
                                                if(product.pro_supervisor_info)
                                                    a(href="#") #{product.pro_supervisor_info.first_name}  #{product.pro_supervisor_info.last_name}
                                            td
                                                if(product.pro_supervisor_commission)
                                                    a(href="#") #{product.pro_supervisor_commission}
                                            td
                                                a(href="#") € #{product.personal_commission}


                                    tr
                                        td()
                                        td() Total comisión pro € #{totalProCommission}
                                        td()
                                        td() Total
                                        td()
                                        td()
                                        td()
                                            span €
                                            b(id="total_personal_commission")  #{personalCommission}


                                    tr
                                        td()
                                        td()
                                        td()
                                        td()
                                        td()
                                        td()
                                            if(personalCommission > 0)
                                                button(class="btn btn-sm btn-danger" id="admin_pay_personal_commission_btn" data-admin-id="#{user._id}" data-supervisor-id="#{supervisor_id}") Pagar
                                            else
                                                button(class="btn btn-sm btn-warning" ) Nada que pagar

