doctype html
html(lang='es' xmlns="http://www.w3.org/1999/xhtml")
    head
        meta(charset='utf-8')
        title   Unosiete - Inicio
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" )
        meta(name="description" content="Unosiete")
        meta(name="author" content="Codeworqs")

        link(rel="icon" type="image/icon" href="/unosiete_images/ICO/favicon_64x64.ico" )
        <!-- CSS FILES -->
        link(rel="stylesheet" href="/crexis/css/reset.css")
        link(rel="stylesheet" href="/crexis/css/animate.min.css")
        link(rel="stylesheet" href="/crexis/css/bootstrap.min.css")
        link(rel="stylesheet" href="/crexis/css/font-awesome.min.css")
        //link(rel="stylesheet" href="/bower_components/fontawesome/css/font-awesome.min.css")
        link(rel="stylesheet" href="/crexis/css/socials.css")
        link(rel="stylesheet" href="/crexis/css/magnific-popup.css")
        link(rel="stylesheet" href="/crexis/css/flexslider.css")
        link(rel="stylesheet" href="/crexis/css/simpletextrotator.css")
        link(rel="stylesheet" href="/crexis/css/cubeportfolio.min.css")
        link(rel="stylesheet" href="/crexis/css/timeline.css")
        link(rel="stylesheet" href="/crexis/css/owl.carousel.css")
        link(rel="stylesheet" href="/crexis/css/settings-ie8.css")
        link(rel="stylesheet" href="/crexis/css/settings.css")
        link(rel="stylesheet" href="/crexis/css/player/YTPlayer.css")
        <!-- Additions by me  -->
        //link(rel="stylesheet" href="/crexis/css/layerslider/css/")


        <!-- Page Styles -->
        link(rel="stylesheet" href="/crexis/css/style.css")
        link(rel="stylesheet" href="/crexis/css/backgrounds.css")
        link(rel="stylesheet" href="/crexis/css/responsive.css")
        <!-- End Page Styles -->

        <!-- Page Layout Color, night or dark -->
        link(id="changeable_tone" rel="stylesheet" href="/crexis/css/page_tones/dark.css")
        <!-- End Page Layout Color -->

        <!-- Page Elements Color -->
        //link(id="changeable_color" rel="stylesheet" href="/crexis/css/colors/orange.css" )
        <!-- End Page Elements Color -->

        <!-- Page Fonts / Pacifico-->
        link(href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css')

        <!-- Raleway-->
        link(href='http://fonts.googleapis.com/css?family=Raleway:400,100,,200,300,600,700' rel='stylesheet' type='text/css')

        link(href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600' rel='stylesheet' type='text/css')

        link(rel="stylesheet" href="/unosiete_css/custom_styles.css")
        link(rel="stylesheet" href="/unosiete_css/colors.css")

        <!-- End CSS Files -->

    body(class="parallax dark-layout")

        <!-- Navigation - select your nav color - dark-nav or white-nav -->
        nav(id="navigation" class="-white-nav dark-nav navigation")
            <!-- Navigation -->
            div(class="nav-inner clearfix")
                <!-- Logo Area -->
                div(class="logo f-left")
                    <!-- Logo Link -->
                    a(ref="#home" class="logo-link scroll")
                        <!-- Logo Image / data-second-logo for only white nav -->
                        img(src="/unosiete_images/us_logotipo-bn-01.png" data-second-logo="/unosiete_images/us_logotipo-color-01.png" alt="Logo unosiete" )
                    <!-- End Logo Area -->
                <!-- Mobile Menu Button -->
                a(class="mobile-nav-button")
                    i(class="fa fa-bars")
                <!-- Navigation Links -->
                div(class="nav-menu clearfix f-right")
                    <!-- Nav List -->
                    ul(class="nav uppercase normal")
                        li
                            a(href="#home" class="scroll") Inicio
                        li
                            a(href="#sectors" class="scroll") Sectores
                        //li
                            a(href="#save" class="scroll") Ahorra

                        li
                            a(href="#contact" class="scroll") Contacto

                        li
                            a(href="/supervisor/login" class="") Área reservada
        <!-- End Nav -->
        <!-- Home Section -->
        section(id="home" class="home rev-slider container")
            <!-- Container  -->
            div(class="tp-banner-container")
                <!-- Banner  -->
                div(class="revslider" )
                    ul
                        <!-- Slide  -->
                        li(data-transition="fade" data-slotamount="1" data-masterspeed="1500" data-thumb="https://res.cloudinary.com/unosiete/image/upload/v1442915744/images/mesas.png" data-delay="13000" data-saveperformance="off"  data-title="Hola")
                            <!-- Background Image -->
                            //img(src="/crexis/images/background38.jpg" alt="slidebg" data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat")
                            img(src="https://res.cloudinary.com/unosiete/image/upload/v1442915744/images/mesas.png"  alt="Slide image 1" data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat")
                            <!-- LAYERS / LAYER NR. 1 -->
                            div(class="tp-caption customin customout rs-parallaxlevel-3 first_text light white" data-0="opacity:1;" data-600="opacity:0;"
                                data-x="left" data-hoffset="8"
                                data-y="center" data-voffset="-110"
                                data-customin="x:0;y:100;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%%;"
                                data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                                data-speed="900"
                                data-start="1400"
                                data-easing="Power4.easeOut"
                                data-elementdelay="0.1"
                                data-endelementdelay="0.1"
                                style="z-index: 2; max-width: auto; max-height: auto; white-space: nowrap;")
                                <!-- Layer Item  -->
                                span(class="span-with-bg glass-bg") ¡hola!
                            <!-- LAYER NR. 2 -->
                            div(class="tp-caption customin customout rs-parallaxlevel-3 second_text -extra-light white semibold" data-0="opacity:1;" data-600="opacity:0;"
                                data-x="left" data-hoffset="0"
                                data-y="center" data-voffset="-25"
                                data-customin="x:0;y:100;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%%;"
                                data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                                data-speed="900"
                                data-start="1500"
                                data-easing="Power4.easeOut"
                                data-elementdelay="0.1"
                                data-endelementdelay="0.1"
                                style="z-index: 2; max-width: auto; max-height: auto; white-space: nowrap;") <!-- Layer Item  --> somos unosiete

                            <!-- LAYER NR. 3 -->
                            div(class="tp-caption customin customout rs-parallaxlevel-3 third_text normal white" data-0="opacity:1;" data-600="opacity:0;"
                                data-x="left" data-hoffset="4"
                                data-y="center" data-voffset="50"
                                data-customin="x:0;y:100;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%%;"
                                data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                                data-speed="900"
                                data-start="1600"
                                data-easing="Power4.easeOut"
                                data-elementdelay="0.1"
                                data-endelementdelay="0.1"
                                style="z-index: 2; max-width: auto; max-height: auto; white-space: nowrap;")
                                <!-- Layer Item  -->
                                <!-- Trato personalizado -->

                            <!-- LAYER NR. 4 -->
                            div(class="tp-caption customin customout rs-parallaxlevel-3"
                                data-x="left" data-hoffset="4"
                                data-y="center" data-voffset="107"
                                data-customin="x:0;y:100;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%%;"
                                data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                                data-speed="900"
                                data-start="1700"
                                data-easing="Power4.easeOut"
                                data-elementdelay="0.1"
                                data-endelementdelay="0.1"
                                style="z-index: 2; max-width: auto; max-height: auto; white-space: nowrap;")
                                <!-- Layer Item  -->
                                a(href="#contact" class="home-button light-button light scroll" data-0="opacity:1;" data-600="opacity:0;") Contactanos

                        <!-- End Slide  -->
                        li(data-transition="fade" data-slotamount="1" data-masterspeed="1500" data-thumb="https://res.cloudinary.com/unosiete/image/upload/v1442915744/images/crowdworking.png" data-delay="13000"  data-saveperformance="off"  data-title="Crowdworking")
                            <!-- Background Image -->
                            //img(src="/crexis/images/background39.jpg"  alt="slidebg"  data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat")
                            img(src="https://res.cloudinary.com/unosiete/image/upload/v1442915744/images/crowdworking.png"   alt="slidebg"  data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat")
                            <!-- LAYERS / LAYER NR. 1 -->
                            div(class="tp-caption customin customout rs-parallaxlevel-3 first_text -light white semiblod" data-0="opacity:1;" data-600="opacity:0;"
                                data-x="left" data-hoffset="8"
                                data-y="center" data-voffset="-110"
                                data-customin="x:0;y:100;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%%;"
                                data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                                data-speed="900"
                                data-start="1400"
                                data-easing="Power4.easeOut"
                                data-elementdelay="0.1"
                                data-endelementdelay="0.1"
                                style="z-index: 2; max-width: auto; max-height: auto; white-space: nowrap;")
                                <!-- Layer Item  -->
                                span(class="span-with-bg glass-bg") crowdworking

                            <!-- LAYER NR. 2 -->
                            div(class="tp-caption customin customout rs-parallaxlevel-3 second_text -extra-light white semibold" data-0="opacity:1;" data-600="opacity:0;"
                                data-x="left" data-hoffset="0"
                                data-y="center" data-voffset="-25"
                                data-customin="x:0;y:100;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%%;"
                                data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                                data-speed="900"
                                data-start="1500"
                                data-easing="Power4.easeOut"
                                data-elementdelay="0.1"
                                data-endelementdelay="0.1"
                                style="z-index: 2; max-width: auto; max-height: auto; white-space: nowrap;")
                                <!-- Layer Item  -->
                                | economía compartida

                            <!-- LAYER NR. 3 -->
                            div(class="tp-caption customin customout rs-parallaxlevel-3 third_text normal white" data-0="opacity:1;" data-600="opacity:0;"
                                data-x="left" data-hoffset="4"
                                data-y="center" data-voffset="50"
                                data-customin="x:0;y:100;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%%;"
                                data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                                data-speed="900"
                                data-start="1600"
                                data-easing="Power4.easeOut"
                                data-elementdelay="0.1"
                                data-endelementdelay="0.1"
                                style="z-index: 2; max-width: auto; max-height: auto; white-space: nowrap;")
                                <!-- Layer Item  -->
                                <!-- economía compartida -->

                            <!-- LAYER NR. 4 -->
                            div(class="tp-caption customin customout rs-parallaxlevel-3"
                                data-x="left" data-hoffset="4"
                                data-y="center" data-voffset="107"
                                data-customin="x:0;y:100;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%%;"
                                data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                                data-speed="900"
                                data-start="1700"
                                data-easing="Power4.easeOut"
                                data-elementdelay="0.1"
                                data-endelementdelay="0.1"
                                style="z-index: 2; max-width: auto; max-height: auto; white-space: nowrap;")
                                a(href="#contact" class="home-button light-button light scroll" data-0="opacity:1;" data-600="opacity:0;") Contactanos

                        <!-- End Slide  -->


        <!-- About Section -->
        section(id="sectors" class="container white-bg")

            <!-- About Inner -->
            div(class="inner t-center")

                <!-- Header -->
                h1(class="header header-style-1 dark light animated" data-animation="fadeIn" data-animation-delay="200")
                    span(class="semibold colored dark") conecta & ahorra
                    |<!--&nbsp;en todas tus facetas -->


                <!-- Header Text -->
                p(class="light animated" data-animation="fadeIn" data-animation-delay="200") una solución para cada necesidad :

                <!-- Boxes  -->
                div(class="feature-boxes type-3 clearfix")

                    <!-- Box  1 -->
                    div(class="feature-box col-xs-4 animated" data-animation="fadeIn" data-animation-delay="100")
                        <!-- Box Icon  -->
                        div(class="f-left feature-icon")
                            i(class="fa fa-lightbulb-o")
                        <!-- Box Texts  -->
                        div(class="feature-text f-left t-left dark feature-text-height")
                            <!-- Box Header  -->
                            h4(class="no-margin normal no-padding") Teleco. & Energías
                            <!-- Box Description  -->
                            p
                            | Nuestra prioridad eres tú, y es importante para nosotros ayudarte a ahorrar en
                            | las pequeñas y grandes cosas, empezando por los servicios básicos y de utilidad diaria.

                        <!-- End Box  -->

                    <!-- Box  2 -->
                    div(class="feature-box col-xs-4 animated" data-animation="fadeIn" data-animation-delay="150")
                        <!-- Box Icon  -->
                        div(class="f-left feature-icon")
                            i(class="fa fa-line-chart")
                        <!-- Box Texts  -->
                        div(class="feature-text f-left t-left dark feature-text-height")
                            <!-- Box Header  -->
                            h4(class="no-margin normal no-padding") Ahorro & Inversión
                            <!-- Box Description  -->
                            p
                            | Asesoramos tu presente para garantizar
                            | que el mañana de los tuyos esté protegido


                        <!-- End Box  -->


                    <!-- Box  3 -->
                    div(class="feature-box col-xs-4 animated" data-animation="fadeIn" data-animation-delay="200")
                        <!-- Box Icon  -->
                        div(class="f-left feature-icon")
                            i(class="fa fa-shield" )
                        <!-- Box Texts  -->
                        div(class="feature-text f-left t-left dark feature-text-height")
                            <!-- Box Header  -->
                            h4(class="no-margin normal no-padding") Seguros Generales
                            <!-- Box Description  -->
                            p
                            | Nosotros cuidamos de ti, por eso luchamos siempre para ofrecerte
                            | las mejores coberturas y los mejores precios


                    <!-- End Box  -->

                    <!-- Box  4 -->
                    div(class="feature-box col-xs-4 animated" data-animation="fadeIn" data-animation-delay="250")
                        <!-- Box Icon  -->
                        div(class="f-left feature-icon")
                            i(class="fa fa-wrench")
                        <!-- Box Texts  -->
                        div(class="feature-text f-left t-left dark feature-text-height")
                            <!-- Box Header  -->
                            h4(class="no-margin normal no-padding") Mantenimiento & Reparaciones
                            <!-- Box Description  -->
                            p
                            | Sabemos que imprevisiblemente las cosas se deterioran y estropean.
                            |Por eso colaboramos con distintos profesionales y te asesoramos para
                            | que cuando ese momento llegue, gastes lo justo y necesario.



                    <!-- End Box  -->


                    <!-- Box  5 -->
                    div(class="feature-box col-xs-4 animated" data-animation="fadeIn" data-animation-delay="300")
                        <!-- Box Icon  -->
                        div(class="f-left feature-icon")
                            i(class="fa fa-pie-chart")
                        <!-- Box Texts  -->
                        div(class="feature-text f-left t-left dark feature-text-height")
                            <!-- Box Header  -->
                            h4(class="no-margin normal no-padding") Autónomos & Empresa
                            <!-- Box Description  -->
                            p
                            |Autónomo, emprendedor, empresario… este es tu lugar. Queremos que te sientas cómodo, por eso
                            |colaboramos codo a codo con asociación de autónomos, Auga,  logrando así beneficios fruto de la unión.


                    <!-- End Box  -->

                    <!-- Box  6 -->
                    div(class="feature-box col-xs-4 animated" data-animation="fadeIn" data-animation-delay="350")
                        <!-- Box Icon  -->
                        div(class="f-left feature-icon")
                            i(class="fa fa-shopping-cart")
                        <!-- Box Texts  -->
                        div(class="feature-text f-left t-left dark feature-text-height")
                            <!-- Box Header  -->
                            h4(class="no-margin normal no-padding") Alimentación & E-commerce
                            <!-- Box Description  -->
                            p
                            | Internet es un mundo maravilloso pero inmenso, por eso trabajamos duro
                            | para encontrar la mejor manera de facilitar y orientar tus compras básicas en la red.


                    <!-- End Box  -->

                    <!-- Box  7 -->
                    div(class="feature-box col-xs-4 animated" data-animation="fadeIn" data-animation-delay="400")
                        <!-- Box Icon  -->
                        div(class="f-left feature-icon")
                            i(class="fa fa-flask")
                        <!-- Box Texts  -->
                        div(class="feature-text f-left t-left dark feature-text-height")
                            <!-- Box Header  -->
                            h4(class="no-margin normal no-padding") Hogar & Bienestar
                            <!-- Box Description  -->
                            p
                            | Seleccionamos para ti los productos de mejor calidad y
                            | precio, para cubrir las necesidades básicas de tu hogar, y de los tuyos.


                    <!-- End Box  -->





        <!-- Content  -->
        section(class="content clearfix")
            <!-- Left  -->
            div(class="left col-md-6 no-padding")
                <!-- Slider  -->
                div(class="images basic_slider")
                    <!-- Image Slider  -->
                    ul(class="image_slider clearfix")
                        <!-- Slide  -->
                        li(class="slide")
                            <!-- Image SRC  -->
                            img(src="https://res.cloudinary.com/unosiete/image/upload/v1442915718/images/us_acreditacion.png" alt="Content")

                        <!-- Slide  -->
                        li(class="slide")
                            <!-- Image SRC  -->
                            img(src="https://res.cloudinary.com/unosiete/image/upload/v1442915727/images/us_lema.png" alt="Content")




            <!-- Right -->
            div(class="right col-md-6 -gray-bg  white-bg no-padding")
                <!-- Texts -->
                div(class="texts clearfix table")
                    div(class="table-cell v-center")
                        <!-- Header -->
                        h1(class="content-header -extra-light")
                            span(class="semibold colored dark") nosotros
                            //span(class="text-20") cliente

                        <!-- Texts -->
                        //p(class="note mt-20") Bla pla boo

                        p(class="text-25")
                        | Somos una plataforma de crowdworking comercial que a través de la unión y cooperación entre profesionales de diversos sectores, intermediamos y
                        |canalizamos productos y servicios.
                        |“unosiete” nace fruto de la cooperación de Whole Trade Business con el grupo Conecta & Ahorra, dedicado al asesoramiento comercial en ahorro.


                        p(class="text-25")
                        | Fomentamos el ahorro, el trabajo en equipo y la generación de ingresos directos y compartidos.
                        | Nuestra prioridad son los clientes y socios, y por ello hemos creado un método que permite darles un asesoramiento real y
                        | de calidad. Fruto de esto surge el acuerdo y acreditación en exclusiva con la asociación de autónomos “auga”.








        <!-- Save Section -->

        section(id="save" class="container type-2")
            <!-- Inner -->
            div(class="inner t-center")
                <!-- Header -->
                h2(class="header header-style-1 dark semibold uppercase" ) creemos

                <!-- Header Text -->
                p(class="light animated" data-animation="fadeIn" data-animation-delay="100") Asesorar  es ayudarte a tomar las mejores decisiones.







        <!-- Fun Facts  O Clients -->
        section(class="fun-facts background42 parallax5 -xdark-bg ")
            <!-- Inner -->
            div(class="inner t-center")
                h3(class="  third_text normal white") El camino no ha hecho más que empezar

            <!-- Facts -->
            div(class="facts clearfix t-center white")
                <!-- Fact -->







        <!-- Features With Mobile Section -->
        section(id="contact" class="relative contact")
            div(class="grayscale-bg absolute background41 parallax9 xdark-bg")

            <!-- Inner -->
            div(class="inner t-center clearfix no-black-white animated" data-animation="fadeIn" data-animation-delay="800")
                <!-- Header -->
                h1(class="header header-style-1 uppercase semibold white t-center ") ¿ Hablamos ?
                <!-- Header Text -->
                p(class="light t-center") Complete el formulario y un asesor se pondrá en contacto para asesorarte

                <!-- Address and Form -->
                div(class="fullwidth clearfix")
                    <!-- Address -->
                    div(class="address f-left t-left")

                        <!-- Address Header -->
                        div(class="address_head")
                            <!-- Header -->
                            h3 Nuestras Oficinas

                        <!-- Address Box -->
                        a(href="tel:0123456789" class="box light hover")
                            <!-- Icon -->
                            div(class="icon")
                                <!-- Icon SRC -->
                                i(class="fa fa-phone colored")

                            <!-- Details -->
                            div(class="details")
                                h4 Telefono
                                p 914 491 064

                            <!-- Right Secret Button -->
                            div(class="button")
                                img(src="/crexis/images/plus.png" alt="Crexis Plus")


                        <!-- Address Box -->
                        a(href="mailto:hola@unosiete.us" class="box light hover")
                            <!-- Icon -->
                            div(class="icon")
                                <!-- Icon SRC -->
                                i(class="fa fa-envelope colored")

                            <!-- Details -->
                            div(class="details")
                                h4 Email
                                p hola@unosiete.us

                            <!-- Right Secret Button -->
                            div(class="button")
                                img(src="/crexis/images/plus.png" alt="Crexis Plus")


                        <!-- Address Box -->
                        a(href="#map" class="box light hover scroll")
                            <!-- Icon -->
                            div(class="icon")
                                <!-- Icon SRC -->
                                i(class="fa fa-map-marker colored")
                            <!-- Details -->
                            div(class="details")
                                //h4 Dirreción
                                p Whole Trade Business
                                p Calle Orense 27 A, 5D
                                p 28020


                            <!-- Right Secret Button -->
                            div(class="button")
                                img(src="/crexis/images/plus.png" alt="Crexis Plus")


                        <!-- Address Box -->
                        a(class="box light")
                            <!-- Details -->
                            div(class="address-note")
                                h4 Ponte en contacto
                                p Nuestro personal esta a tu disposición.

                        <!-- Address Box -->
                        div(class="socials")

                            <!-- Social Button -->
                            a(href="https://www.facebook.com/unosiete.us"  target="_blank" class="facebook")
                                i(class="fa fa-facebook")


                            <!-- Social Button -->
                            a(href="https://twitter.com/unosiete_us" target="_blank" class="twitter")
                                i(class="fa fa-twitter")


                    <!-- Contact Form -->
                    div(class="contact_form f-right")
                        form(id="contact_form" name="cform" class="clearfix form dark_form" method="post" action="/contact-us")

                            input(type="text" name="name" id="name" required placeholder="Nombre")

                            input(type="email" name="email" id="email" required placeholder="email@correo.com")

                            input(type="text" name="subject" id="subject" required placeholder="En que podriamos ayudarte")

                            textarea(name="message" id="message" required placeholder="Mensaje")

                            input(type="text" name="verify" id="verify" required placeholder="")

                            button(type="reset" id="clear" name="clear") Borrar

                            button(type="submit" id="submit" name="submit" class="colored-bg  btn-custom" value="Enviar") Enviar

                            <!-- Error Message -->
                            div(class="error_message")
                                div(class="t-left no-margin")
                                    <!-- Error Message Icon -->
                                    i(class="fa fa-warning") Complete los campos obligatorios


                            <!-- Submit Message -->
                            div(class="submit_message")
                                div(class="t-left no-margin")
                                    <!-- Error Message Icon -->
                                    i(class="fa fa-check" ) Su mensaje ha sido enviado
                                    span(id="email_sent")

        <!-- End Contact Section -->

        <!-- Map Section -->



        <!-- End Map Section -->


        <!-- Footer -->
        footer(class="big-footer fullwidth dark-footer t-left")
            <!-- Footer Inner -->
            div(class="clearfix boxed footer_inner")

                <!-- Bottom -->
                div(class="footer_bottom")
                    <!-- Bottom Inner -->
                    div(class="boxed clearfix")
                        <!-- Left, Copyright Area -->
                        div(class="left f-left")
                            <!-- Text and Link -->
                            p(class="copyright") ©#{moment().format('YYYY')} Unosiete | todos los derechos reservados


                        <!-- End Left -->

                        <!-- Right, Socials -->
                        div(class="right f-right")
                            a(href="https://twitter.com/unosiete_us" target="_blank" class="social")
                                i(class="fa fa-twitter")

                            a(href="https://www.facebook.com/unosiete.us" target="_blank" class="social")
                                i(class="fa fa-facebook")

















        <!-- JS Files -->
        script(type="text/javascript" src="/crexis/js/jquery-2.1.3.min.js")
        script(type="text/javascript" src="/crexis/js/bootstrap.min.js")
        script(type="text/javascript" src="/crexis/js/jquery.appear.js")
        script(type="text/javascript" src="/crexis/js/waypoint.js")
        script(type="text/javascript" src="/crexis/js/modernizr-latest.js")
        script(type="text/javascript" src="/crexis/js/jquery.easing.1.3.js")
        script(type="text/javascript" src="/crexis/js/SmoothScroll.js")
        script(type="text/javascript" src="/crexis/js/jquery.magnific-popup.min.js")
        script(type="text/javascript" src="/crexis/js/jquery.superslides.js")
        script(type="text/javascript" src="/crexis/js/jquery.flexslider.js")
        script(type="text/javascript" src="/crexis/js/jquery.simple-text-rotator.js")
        script(type="text/javascript" src="/crexis/js/jquery.cubeportfolio.js")
        script(type="text/javascript" src="/crexis/js/owl.carousel.min.js")
        script(type="text/javascript" src="/crexis/js/jquery.parallax-1.1.3.js")
        //script(type="text/javascript" src="/crexis/js/google-map.js")
        script(type="text/javascript" src="/crexis/js/skrollr.min.js")
        script(type="text/javascript" src="/crexis/js/jquery.fitvids.js")
        script(type="text/javascript" src="/crexis/js/jquery.mb.YTPlayer.js")
        <!-- Added by me -->
        script(type="text/javascript" src="/crexis/js/greensock/greensock.js")
        script(type="text/javascript" src="/crexis/js/layer_slider/layerslider.transitions.js")
        script(type="text/javascript" src="/crexis/js/layer_slider/layerslider.kreaturamedia.jquery.js")

        <!-- Revolution Slider -->
        script(type="text/javascript" src="/crexis/js/rev_slider/jquery.themepunch.revolution.min.js")
        script(type="text/javascript" src="/crexis/js/rev_slider/jquery.themepunch.tools.min.js")
        script(type="text/javascript" src="/crexis/js/rev_slider/rev_plugins.js")
        <!-- Twitter -->
        script(type="text/javascript" src="/crexis/js/tweecool.min.js")
        script(type="text/javascript" src="/crexis/js/tweecool.js")
        <!-- Contact Form -->
        script(type="text/javascript" src="/crexis/js/jquery.validate.min.js")
        script(type="text/javascript" src="/crexis/js/contact-form.js")
        <!-- Page Plugins -->
        script(type="text/javascript" src="/crexis/js/plugins.js")
        <!-- Portfolio Plugins -->
        script(type="text/javascript" src="/crexis/js/portfolio.js")
        <!-- Theme Panel -->
        //script(type="text/javascript" src="/crexis/theme_panel/themepanel.js")
        //script(type="text/javascript" src="/bower_components/sticky/jquery.sticky.js")
        script(type="text/javascript" src="/bower_components/headhesive/dist/headhesive.min.js")
        script(type="text/javascript" src="/vendor/hc-sticky-master/jquery.hc-sticky.min.js")

        script(type="text/javascript" src="/plugins-initializations.js")

        <!-- End JS Files -->






















