extends /layout/supervisor/main.jade
block content
    div(class="container")
        div(class='row')
            div(class="col-md-12")
                div(class="panel panel-gray")
                    div(class="panel-heading")
                        h4 Rellene los campos para dar de alta un nuevo asesor
                    div(class="panel-body")
                        form(name="recommend-supervisor-form" action="/supervisor/recommend-supervisor/new" class=" col-md-6"  id="recommend-supervisor-form" method="post" enctype="multipart/form-data")
                            div(class="form-group")
                                label(class=" control-label")
                                |   Nombre
                                div(class="")
                                    input(type="text" class="form-control" id="first_name" name="first_name"  placeholder="Nombre" )
                            div(class="form-group")
                                label(class=" control-label")
                                |   Apellidos
                                div(class="")
                                    input(type="text" class="form-control" id="last_name" name="last_name" placeholder="Apellidos")
                            div(class="form-group")
                                label(class=" control-label")
                                |   DNI/NIE
                                div(class="")
                                    input(type="text" class="form-control" id="identification_number" name="identification_number" placeholder="NIE/DNI")
                            div(class="form-group")
                                label(class=" control-label")
                                |  Email
                                div(class="")
                                    input(type="email" class="form-control" id="email" name="email" placeholder="Email")
                            div(class="form-group")
                                label(class=" control-label")
                                |  Tel
                                div(class="")
                                    input(type="text" class="form-control" id="telephone" name="telephone" placeholder="+34 981 00 00 00")
                            div(class="form-group")
                                label(class=" control-label")
                                |  Móvil
                                div(class="")
                                    input(type="text" class="form-control" id="mobile" name="mobile" placeholder="+34 634 00 00 00")
                            div(class="form-group")
                                label(class=" control-label")
                                |   Dirección
                                div(class="")
                                    input(type="text" class="form-control" id="address" name="address" placeholder="Calle da horta")
                            div(class="form-group")
                                label(class=" control-label")
                                |   Localidad/Ciudad
                                div(class="")
                                    input(type="text" class="form-control" id="city" name="city" placeholder="Localidad")
                            div(class="form-group")
                                label(class=" control-label")
                                |   Código postal
                                div(class="")
                                    input(type="text" class="form-control" id="post_code" name="post_code" placeholder="Código postal")
                            div(class="form-group")
                                label(class=" control-label")
                                |   Fecha de nacimiento
                                div(class="")
                                    input(type="text" class="form-control" id="date_of_birth" name="date_of_birth" placeholder="DD/MM/YYYY")

                            div(class="form-group")
                                label(class=" control-label")
                                |   Hoja rescate de datos
                                div(class="")
                                    input(type="file" class="form-control" id="supervisor_info" name="supervisor_info" )


                            div(class="form-group")
                                div(class="")
                                    input(type="submit" class="btn btn-primary" id="recommend-supervisor-save-btn" value="Crear asesor")



