<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Bienvenida a Unosiete  </title>
    //<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" media="screen" title="no title" charset="utf-8">
    <style media="screen" type="text/css">

    </style>
</head>
<body>

<div class="container">
    <!-- Header image  -->
    <div class="row">
        <div class="col-md-10">
            <!--<img src="http://res.cloudinary.com/flibuy/image/upload/v1433506220/logo-flibuy_azvcvw.jpg" alt="Logo" /> -->
        </div>
    </div>
    <!-- main content -->
    <div class="row">
        <div class="col-md-10">


            <p>El product:  {{ productName }} </p>
            <p>Del cliente:  {{ clientName }} </p>
            <p>Ha cambiado de estado a :  {{ productState }} </p>


            <hr>


        </div>
    </div>



</div>

</body>
</html>


