<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Bienvenida a Unosiete  </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" media="screen" title="no title" charset="utf-8">
    <style media="screen" type="text/css">

    </style>
</head>
<body>

<div class="container">
    <!-- Header image  -->
    <div class="row">
        <div class="col-md-10" style="width: 150px; height: 150px;">
            <img style="width: 200px; height: 150px;" src="https://res.cloudinary.com/unosiete/image/upload/v1442921643/images/us_monogram.jpg" />
        </div>
    </div>
    <!-- main content -->
    <div class="row">
        <div class="col-md-10">


            <p> Hola {{ username }} </p>
            <p>
                Su cambio de contraseña ha sido tramitado. Haz click en el siguiente enlace para cambiar la contraseña
            </p>

            <h4 >
                <a style="color: deepskyblue; font-weight: 700; font-size: large;"  href="{{protocol}}://{{domain}}/supervisor/recover-password/new-password/{{hash}}">
                    Cambiar contraseña
                </a>

            </h4>
            <p style="color: orangered"> Si el enlace anterior no funciona copia y pega el siguente enlace en el navegador para poder cambiar su contraseña.  </p>
             <p> {{protocol}}://{{domain}}/supervisor/recover-password/new-password/{{hash}} </p>

            <br/>
            <br/>
            <p>
                WHOLE TRADE BUSINESS SL
                <br/>
                Calle Orense, 27A, 5A
                <br/>
                28.020 Madrid
                <br/>
            </p>


            <hr>


        </div>
    </div>



</div>

</body>
</html>
