<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Solicitud desde web unosiete  -  {{ username }}</title>
    <style media="" type="text/css">

    </style>
</head>
<body>

<div class="container">
    <!-- Header image  -->

    <!-- main content -->
    <div class="row">
        <div class="col-md-10">


            <h3>Nombre:  {{username}}:</h3>
             <h3>Email: {{ from }}</h3>
             <h3>Asunto: {{ subject}}</h3>
            <p>
                {{ message }}
            </p>
            <h4> </h4>



        </div>
    </div>



</div>

</body>
</html>