<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Bienvenida a Unosiete  </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" media="screen" title="no title" charset="utf-8">
    <style media="screen" type="text/css">

    </style>
</head>
<body>

<div class="container">
    <!-- Header image  -->
    <div class="row">
        <div class="col-md-10">
            <img style="width: 200px; height: 150px;" src="https://res.cloudinary.com/unosiete/image/upload/v1442921643/images/us_monogram.jpg" />
        </div>
    </div>
    <!-- main content -->
    <div class="row">
        <div class="col-md-10">


            <p>Has sido recomendado como candidato a ASESOR de   Unosiete.</p>
            <p>

                Para tu incorporación debes validar el documento de POLITICAS & PROCEDIMIENTOS que

                completan los requisitos vinculados al contrato adjunto, del cual debes remitir 2 copias firmadas a la

                siguiente dirección.


            </p>
            <p>
                WHOLE TRADE BUSINESS SL
                <br/>
                Calle Orense, 27A, 5A
                <br/>
                28.020 Madrid
                <br/>
            </p>
            <p>Para poder acceder a tu cuenta tienes que cambiar la contraseña haciendo click en el siguiente enlace</p>
            <h4 >
                <a style="color: dodgerblue; font-weight: 700; font-size: large;" href="{{domain}}/change-password/{{ activationCode}}">
                    Cambiar contraseña
                </a>
            </h4>

            <hr>


        </div>
    </div>



</div>

</body>
</html>


