//
   Created by FP PLUS on 29/02/2016.
extends /layout/main.jade
block content
   div(class="container")
      div(class='row')
         div(class="col-md-12")
            div(class="panel panel-gray")
               div(class="panel-heading")
                  h4 Asesores

               div(class="panel-body")
                        div(class="table-responsive ")
                           table(class="table col-md-12" id="admin-supervisors-list")
                              thead
                                 tr
                                    th Nombre
                                    th Email
                                    th DNI
                                    th Comis. Personal
                                    th Comis. Pro

                              tbody(class="table-hover")
                                 each supervisor in supervisors
                                    tr
                                       td
                                          a #{supervisor.first_name} #{supervisor.last_name}
                                       td
                                          a #{supervisor.email}
                                       td
                                          a #{supervisor.identification_number}
                                       td
                                          a(href="/admin/paid-commissions-personal/#{supervisor._id}" class="btn btn-default") Ver detalles
                                       td
                                          a(href="/admin/paid-commissions-pro/#{supervisor._id}" class="btn btn-default") Ver detalles