doctype html
html(lang='es')
    head
        meta(charset='utf-8')
        title   Unosiete
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(name="description" content="Unosiete")
        meta(name="author" content="Codeworqs")
        //link(rel="stylesheet" href="/assets/css/styles.css")
        link(rel="stylesheet" href="/assets/css/styles.css?=121")
        link(rel="stylesheet"  type='text/css' href='/assets/plugins/pines-notify/jquery.pnotify.default.css' )
        link(rel="stylesheet"  type='text/css' href='/bower_components/datatables/media/css/dataTables.bootstrap.min.css' )
        link(rel="stylesheet"  type='text/css' href='/unosiete-styles.css' )
        link(href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600' rel='stylesheet' type='text/css')

        link(rel="icon" type="image/png" href="/unosiete_images/ICO/favicon_b_48x48.ico" )

        //if lt IE 9
            link(rel="stylesheet" href="/assets/css/ie8.css")
            script(type="text/javascript" src="http://html5shim.googlecode.com/svn/trunk/html5.js")
            script(type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/respond.js/1.1.0/respond.min.js")
            script(type="text/javascript" src="/assets/plugins/charts-flot/excanvas.min.js")


    body(class=" ")

        //Head bar
        header(class="navbar navbar-inverse navbar-fixed-top" role="banner")
            a(id="leftmenu-trigger" class="tooltips" data-toggle="tooltip" data-placement="right" title="Toggle Sidebar")
            div(class="navbar-header pull-left")
                a(class="navbar-brand" href="/admin/dashboard")

            ul(class="nav navbar-nav pull-right toolbar")
                li(class="dropdown")
                    a(href="#" class="dropdown-toggle username" data-toggle="dropdown")
                        span(class="hidden-xs")
                            = user.first_name
                            i(class="fa fa-caret-down")
                            | &nbsp;
                            img(src="/unosiete_images/us_avatar.png" alt="Avatar")

                    ul(class="dropdown-menu userinfo arrow")
                        li(class="username")
                            a(href="#")
                                div(class="pull-left")
                                    img(src="/unosiete_images/us_avatar.png" alt="Avatar")
                                div(class="pull-right")
                                    h5
                                        | Hola,
                                        = user.first_name
                                    small
                                        | Has iniciado sesion como
                                        span  Administrador

                        li(class="userlinks")
                            ul(class="dropdown-menu")
                                //ul
                                    a(href="/admin/profile/edit/:id")
                                        | Editar su perfil
                                        i(class="pull-right fa fa-pencil")
                                li(class="divider")
                                ul
                                    a(href="/admin/logout")
                                        | Salir
                                        i(class="text-right")

                    li(class="dropdown")
                        a(href="#" class="hasnotifications dropdown-toggle" data-toggle='dropdown')
                            i(class="fa fa-envelope")
                        //Product notifications
                        if(adminProductNotification !== null)
                            span(span class="badge")
                                = adminProductNotification.messageCount

                        ul(class="dropdown-menu messages arrow")
                            li(class="dd-header")
                                if(adminProductNotification !== null)
                                    span Tienes #{adminProductNotification.messageCount} notificaciones

                            div(class="scrollthis")
                                if(adminProductNotification !== null)
                                    each item in adminProductNotification
                                        li
                                            a(href="/admin/product-notification/show/#{item._id}" )
                                                span(class="time")
                                                img(src="/unosiete_images/us_monogram.jpg" alt="avatar" )
                                                div
                                                    span(class="name") Producto: #{item.name}
                                                    span(class="msg") Cliente: #{item.client_info.first_name} #{item.client_info.last_name}

                    //Supervisor personal commission request
                    li(class="dropdown")
                        a(href="#" class="hasnotifications dropdown-toggle" data-toggle='dropdown' title="Solicitudes de pago")
                            i(class="fa fa-bell-o")
                        if(adminPersonalCommissionRequest !== null && adminPersonalCommissionRequest.messagesCount > 0)
                            span(span class="badge ")
                                = adminPersonalCommissionRequest.messagesCount

                        ul(class="dropdown-menu messages arrow")
                            li(class="dd-header")
                                if(adminPersonalCommissionRequest !== null)
                                    span Tienes #{adminPersonalCommissionRequest.messagesCount} notificaciones

                            div(class="scrollthis")
                                if(adminPersonalCommissionRequest !== null )
                                    each item in adminPersonalCommissionRequest
                                        li
                                            a(href="/admin/supervisor-personal-commission/show/#{item.requested_by._id}" )
                                                span(class="time")
                                                img(src="/unosiete_images/us_monogram.jpg" alt="avatar" )
                                                div
                                                    span(class="name") #{item.requested_by.first_name} #{item.requested_by.last_name}
                                                    span(class="msg") Ha solicitado el pago de sus comisiones directas


        //PAGE CONTAINER
        div(id="page-container")
            //BEGIN SIDEBAR
        nav(id="page-leftbar" role="navigation")
            //BEGIN SIDE MENU
            ul(class="acc-menu" id="sidebar")
                li
                    a(href="/admin/dashboard")
                        i(class="fa fa-home")
                        span Panel de gestión
                li
                    a(href="javascript:;")
                        i(class="fa fa-file-excel-o")
                        span Informes
                    ul(class='acc-menu')
                        li
                            a(href="/admin/reports/index") General

                        li
                            a(href="/admin/paid-commissions") Comisiones pagadas
                        li
                            a(href="/admin/reports/shared-commissions") Comisiones compartidas

                li
                    a(href="javascript:;")
                        i(class="fa fa-shopping-cart")
                        span Puntuación
                    ul(class='acc-menu')
                        li
                            a(href="/admin/supervisor-points") General





                li
                    a(href="javascript:;")
                        i(class="fa fa-users")
                        span Asesores
                    ul(class='acc-menu')
                        li
                            a(href="/admin/supervisor/recomended") Asesores recomendados
                        li
                            a(href="/admin/supervisors/index") Asesores

                        li
                            a(href="/admin/supervisors/new") Alta nuevo asesor

                li
                    a(href="javascript:;")
                        i(class="fa fa-lightbulb-o")
                        span Teleco. & Energías
                    ul(class='acc-menu')
                        li
                            a(href="/admin/telecommunication/index") Productos

                        li
                            a(href="/admin/telecommunication/new-product") Alta nuevo producto

                        li
                            a(href="/admin/telecommunication/contracts") Producción en tramite
                        li
                            a(href="/admin/telecommunication/contracted") Contratados
                        li
                            a(href="/admin/telecommunication/not-contracted") No contratados



                li
                    a(href="javascript:;")
                        i(class="fa fa-shield")
                        span Seguros Generales
                    ul(class='acc-menu')
                        li
                            a(href="/admin/insurance/index") Productos

                        li
                            a(href="/admin/insurance/new-product") Alta nuevo producto

                        li
                            a(href="/admin/insurance/contracts") Producción en tramite

                        li
                            a(href="/admin/insurance/contracted") Contratados
                        li
                            a(href="/admin/insurance/not-contracted") No contratados


                li
                    a(href="javascript:;")
                        i(class="fa fa-th")
                        span Ahorro & Inversión
                    ul(class='acc-menu')
                        li
                            a(href="/admin/investment/index") Productos

                        li
                            a(href="/admin/investment/new-product") Alta nuevo producto

                        li
                            a(href="/admin/investment/contracts") Producción en tramite
                        li
                            a(href="/admin/investment/contracted") Contratados
                        li
                            a(href="/admin/investment/not-contracted") No contratados




                li
                    a(href="javascript:;")
                        i(class="fa fa-th")
                        span Autónomos & Empresa
                    ul(class='acc-menu')
                        li
                            a(href="/admin/small-business/index") Productos

                        li
                            a(href="/admin/small-business/new-product") Alta nuevo producto

                        li
                            a(href="/admin/small-business/contracts") Producción en tramite
                        li
                            a(href="/admin/small-business/contracted") Contratados
                        li
                            a(href="/admin/small-business/not-contracted") No contratados




                li
                    a(href="javascript:;")
                        i(class="fa fa-wrench")
                        span Mantenimiento & Reparaciones
                    ul(class='acc-menu')
                        li
                            a(href="/admin/maintenance/index") Productos

                        li
                            a(href="/admin/maintenance/new-product") Alta nuevo producto

                        li
                            a(href="/admin/maintenance/contracts") Producción en tramite
                        li
                            a(href="/admin/maintenance/contracted") Contratados
                        li
                            a(href="/admin/maintenance/not-contracted") No contratados



                li
                    a(href="javascript:;")
                        i(class="fa fa-shopping-cart")
                        span Alimentación & E-commerce
                    ul(class='acc-menu')
                        li
                            a(href="/admin/ecommerce/index") Productos

                        li
                            a(href="/admin/ecommerce/new-product") Alta nuevo producto

                        li
                            a(href="/admin/ecommerce/contracts") Producción en tramite
                        li
                            a(href="/admin/ecommerce/contracted") Contratados
                        li
                            a(href="/admin/ecommerce/not-contracted") No contratados


                li
                    a(href="javascript:;")
                        i(class="fa fa-flask")
                        span Hogar & Bienestar
                    ul(class='acc-menu')
                        li
                            a(href="/admin/cosmetics/index") Productos
                        li
                            a(href="/admin/cosmetics/new-product") Alta nuevo producto
                        li
                            a(href="/admin/cosmetics/contracts") Producción en tramite
                        li
                            a(href="/admin/cosmetics/contracted") Contratados
                        li
                            a(href="/admin/cosmetics/not-contracted") No contratados


        div(id="page-content")
            div(id='wrap')
                div(id="page-heading")
                    //ol(class="breadcrumb")
                        li(class='active')

                    h1 #{heading}

                block content



















        footer(role="contentinfo")
            div(class="clearfix")
                ul(class="list-unstyled list-inline pull-left")
                    li Unosiete &copy;  #{currentYear}


                button(class="pull-right btn btn-inverse-alt btn-xs hidden-print" id="back-to-top")
                    i(class="fa fa-arrow-up")

        script(type='text/javascript' src='/assets/js/jquery-1.10.2.min.js')
        script(type='text/javascript' src='/assets/js/jqueryui-1.10.3.min.js')
        script(type='text/javascript' src='/assets/js/bootstrap.min.js')
        script(type='text/javascript' src='/assets/js/enquire.js')
        script(type='text/javascript' src='/assets/js/jquery.cookie.js')
        script(type='text/javascript' src='/assets/js/jquery.nicescroll.min.js')
        script(type='text/javascript' src='/assets/plugins/form-toggle/toggle.min.js')
        script(type='text/javascript' src='/assets/plugins/pulsate/jQuery.pulsate.min.js')
        script(type='text/javascript' src='/assets/plugins/pulsate/jQuery.pulsate.min.js')
        script(type='text/javascript' src='/assets/plugins/form-xeditable/bootstrap3-editable/js/bootstrap-editable.min.js')
        script(type='text/javascript' src='/assets/plugins/bootbox/bootbox.min.js')
        script(type='text/javascript' src='/assets/plugins/pines-notify/jquery.pnotify.min.js')
        script(type='text/javascript' src='/assets/plugins/form-parsley/parsley.min.js')
        script(type='text/javascript' src='/assets/plugins/form-validation/jquery.validate.min.js')
        script(type='text/javascript' src='/assets/plugins/form-validation/additional-methods.min.js')
        script(type='text/javascript' src='/bower_components/jquery-validation/src/localization/messages_es.js')
        script(type='text/javascript' src='/bower_components/blueimp-file-upload/js/vendor/jquery.ui.widget.js')
        script(type='text/javascript' src='/bower_components/blueimp-file-upload/js/jquery.iframe-transport.js')
        script(type='text/javascript' src='/bower_components/blueimp-file-upload/js/jquery.fileupload.js')
        script(type='text/javascript' src='/bower_components/spin.js/spin.min.js')
        script(type='text/javascript' src='/bower_components/spin.js/jquery.spin.js')
        script(type='text/javascript' src='/bower_components/datatables/media/js/jquery.dataTables.min.js')
        script(type='text/javascript' src='/bower_components/datatables/media/js/dataTables.bootstrap.min.js')
        script(type='text/javascript' src='/bower_components/jquery-form/jquery.form.js')
        script(type='text/javascript' src='/assets/plugins/pines-notify/jquery.pnotify.min.js')
        script(type='text/javascript' src='/vendor/validatr.min.js')
        script()
        script(type='text/javascript' src='/shared-functions.js')
        script(src='/unosiete-scripts.js')
        script(type='text/javascript' src='/assets/js/application.js')
