extends /layout/main.jade
block content
    div(class="container")
        div(class='row')
            div(class="col-md-12")
                div(class="panel panel-gray")
                    div(class="panel-heading")
                        h4 Detalles de producto en tramite
                    div(class="panel-body")
                        div(class="row")
                            div(class="col-md-10")

                                    //p
                                        a(href="/supervisors/products/edit/#{product._id}" class="btn btn-info") Editar
                                    p Sector : #{product.sector}
                                    p Producto : #{product.name}
                                    p Creado :
                                         =moment(product.created).format('DD/MM/YYYY')

                                    p Estado : #{product.contract_state}
                                    p Observaciones : #{product.observations} 
                                    p Documentación
                                    if(product.document_1)
                                        p
                                            a(href="#{product.document_1.secure_url}" id="doc1") Hoja rescate de datos
                                    if(product.document_2)
                                        p
                                            a(href="#{product.document_2.secure_url}" id="doc2") Documento adjunto 2
                                    if(product.document_3)
                                        p
                                            a(href="#{product.document_3.secure_url}" id="doc3") Documento adjunto 3
                                    hr

                                    h3 Datos cliente
                                    div(class="table-responsive")
                                        table(class="table table-condensed")
                                            h3

                                                if(product.client_info.last_name)
                                                    strong #{product.client_info.first_name} #{product.client_info.last_name}
                                                else
                                                    strong #{product.client_info.first_name}
                                            //thead
                                                tr
                                                    th
                                            tbody
                                                tr
                                                    td  CIF/NIF :
                                                    td
                                                        a #{product.client_info.identification_number}

                                                tr
                                                    td  Movil :
                                                    td
                                                        a #{product.client_info.mobile}
                                                tr
                                                    td  Telefono :
                                                    td
                                                        a #{product.client_info.telephone}

                                                tr
                                                    td  Fax :
                                                    td
                                                        a #{product.client_info.fax}

                                                tr
                                                    td  Email :
                                                    td
                                                        a #{product.client_info.email}
                                                tr
                                                    td  Dirrección :
                                                    td
                                                        a #{product.client_info.address},  #{product.client_info.post_code},  #{product.client_info.city}

                                                tr
                                                    td  Provincia :
                                                    td
                                                        a #{product.client_info.province}

                                                tr
                                                    td  Dado de  alta :
                                                    td
                                                        a= moment(product.client_info.created).format('DD/MM/YYYY')

                                    hr
                                    h3 Datos asesor
                                    div(class="table-responsive")
                                        table(class="table table-condensed")
                                            h3
                                                strong #{product.supervisor_info.first_name} #{product.supervisor_info.last_name}
                                            //thead
                                                tr
                                                    th
                                            tbody
                                                tr
                                                    td  Movil :
                                                    td
                                                        a #{product.supervisor_info.mobile}
                                                tr
                                                    td  Telefono :
                                                    td
                                                        a #{product.supervisor_info.telephone}

                                                tr
                                                    td  Email :
                                                    td
                                                        a #{product.supervisor_info.email}
                                                tr
                                                    td  Dirrección :
                                                    td
                                                        a #{product.supervisor_info.address}  #{product.supervisor_info.post_code},  #{product.supervisor_info.city}

                                                tr
                                                    td  Fcha nacimiento :
                                                    td
                                                        a #{product.supervisor_info.date_of_birth}

                                                tr
                                                    td  Dado de  alta :
                                                    td
                                                        a= moment(product.supervisor_info.created).format('DD/MM/YYYY')


                                    if(product.pro_supervisor_info)
                                        hr
                                        h3 Datos asesor pro
                                        div(class="table-responsive")
                                            table(class="table table-condensed")
                                                h3
                                                    strong #{product.pro_supervisor_info.first_name} #{product.pro_supervisor_info.last_name}
                                                //thead
                                                    tr
                                                        th
                                                tbody
                                                    tr
                                                        td  Movil :
                                                        td
                                                            a #{product.pro_supervisor_info.mobile}
                                                    tr
                                                        td  Telefono :
                                                        td
                                                            a #{product.pro_supervisor_info.telephone}

                                                    tr
                                                        td  Email :
                                                        td
                                                            a #{product.pro_supervisor_info.email}
                                                    tr
                                                        td  Dirrección :
                                                        td
                                                            a #{product.pro_supervisor_info.address}  #{product.pro_supervisor_info.post_code},  #{product.pro_supervisor_info.city}

                                                    tr
                                                        td  Fcha nacimiento :
                                                        td
                                                            a #{product.pro_supervisor_info.date_of_birth}

                                                    tr
                                                        td  Dado de  alta :
                                                        td
                                                            a= moment(product.pro_supervisor_info.created).format('DD/MM/YYYY')
