extends /layout/supervisor/main.jade
block content
    div(class="container")
        div(class='row')
            div(class="col-md-12")
                div(class="panel panel-gray")
                    div(class="panel-heading")
                        h4 Nueva observación o incidencia
                    div(class="panel-body")
                        div(class="row")

                            div(class="col-md-9")

                                form(action="/supervisor/product-notification/new/" class="form-horizontal" id="new-client-product-observation-form" name="new-client-product-observation-form"
                                        method="post" enctype="multipart/form-data")
                                    div(class="form-group")
                                        label(class=" control-label") Comentarios/Observaviones
                                        div(class="")
                                            input(type="hidden"  name="product_id" value="#{productId}")
                                            input(type="hidden"  name="product_state" value="#{productState}")
                                            textarea(class="form-control " rows="10" id="observations" name="observations")

                                    div(class="form-group")
                                        label(class=" control-label")
                                        div(class="")
                                            label(class=" control-label") Nombre del fichero adjunto
                                            input(type="text" class="form-control "  id="fileName1" name="fileName1" placeholder="Indica el nombre del adjunto")

                                        label(class=" control-label") Adjunto
                                        div(class="")
                                            input(type="file" class="form-control "  id="uploadedFile1" name="uploadedFile")

                                    div(class="form-group")
                                        label(class=" control-label")
                                        div(class="")
                                            button(type="submit" class="btn btn-primary" id="product-notification-save-btn" ) Guardar

