extends /layout/supervisor/main.jade
block content
    div(class="container")
        div(class='row')
            div(class="col-md-12")
                div(class="panel panel-gray")
                    div(class="panel-heading")
                        h4 Puntos compartida
                    div(class="panel-body")
                        div(class="row")
                            h4 Mis asesores
                            ul(class="list-unstyled")
                            each item in result.supervisorsList
                                li
                                    a(href="#" data-id="#{item._id}" class="sub-supervisor-id") #{item.first_name} #{item.last_name}
                                //span &nbsp; &nbsp;

                        div(class="row")
                            div(class="table-responsive")
                                table(class="table" style="margin-bottom: 0px;" id="")
                                    thead
                                        tr
                                            //th(class="_col-xs-9 _col-sm-3") #{result.currentSupervisor.first_name} #{result.currentSupervisor.last_name}
                                            th(class="_col-xs-9 _col-sm-3") Nombre Asesor
                                            th(class="_col-xs-9 _col-sm-3") Telecos & Energías
                                            th(class="_col-xs-9 _col-sm-3") Seguros  Generales
                                            th(class="_col-xs-9 _col-sm-3") Ahorro & Inversión
                                            th(class="_col-xs-9 _col-sm-3") Autónomos & Empresa
                                            th(class="_col-xs-9 _col-sm-3") Mantenimientos & Reparaciones
                                            th(class="_col-xs-9 _col-sm-3") Alimentación & E-commerce
                                            th(class="_col-xs-9 _col-sm-3") Hogar & Bienestar

                                    tbody(id="sub-supervisor-data")

                                //div
                                        = res

