extends /layout/supervisor/main.jade
block content
   div(class="container")
      div(class='row')
         div(class="col-md-12")
            div(class="panel panel-gray")
               div(class="panel-heading")
                  h4 Modifica los campos desados
               div(class="panel-body")
                  form(action="/supervisor/business-clients/edit/#{client._id}" class=" col-md-6"  id="supervisor-edit-business-client-form" method="put" )
                     div(class="form-group")
                        label(class=" control-label")
                        |   Razón social & marca comercial
                        div(class="")
                           input(type="hidden" class="form-control " id="client_id" name="client_id"  value="#{client._id}" )
                           input(type="text" class="form-control required" id="first_name" name="first_name"  value="#{client.first_name}" )

                     div(class="form-group")
                        label(class=" control-label")
                        |   Administrador & autónomo
                        div(class="")
                           input(type="text" class="form-control required" id="contact_person" name="contact_person"  value="#{client.contact_person}" )

                     div(class="form-group")
                        label(class=" control-label")
                        |   CIF/NIF
                        div(class="")
                           input(type="text" class="form-control required" id="identification_number" name="identification_number" value="#{client.identification_number}")
                     div(class="form-group")
                        label(class=" control-label")
                        |  Email
                        div(class="")
                           input(type="email" class="form-control email required" id="email" name="email" value="#{client.email}")
                     div(class="form-group")
                        label(class=" control-label")
                        |  Tel
                        div(class="")
                           input(type="text" class="form-control " id="telephone" name="telephone" value="#{client.telephone}")
                     div(class="form-group")
                        label(class=" control-label")
                        |  Móvil
                        div(class="")
                           input(type="text" class="form-control " id="mobile" name="mobile" value="#{client.mobile}")

                      div(class="form-group")
                          label(class=" control-label")
                          |  Fax
                          div(class="")
                              input(type="text" class="form-control " id="fax" name="fax" value="#{client.fax}")

                     div(class="form-group")
                        label(class=" control-label")
                        |   Dirección
                        div(class="")
                           input(type="text" class="form-control required" id="address" name="address" value="#{client.address}")
                     div(class="form-group")
                        label(class=" control-label")
                        |   Localidad/Ciudad
                        div(class="")
                           input(type="text" class="form-control required" id="city" name="city" value="#{client.city}")



                     div(class="form-group")
                        label(class=" control-label")
                        |   Codigo postal
                        div(class="")
                           input(type="text" class="form-control number required" id="post_code" name="post_code" value="#{client.post_code}")


                      div(class="form-group")
                          label(class=" control-label")
                          |   Provincia
                          div(class="")
                              input(type="text" class="form-control required" id="province" name="province" value="#{client.province}")



                      div(class="form-group")
                        div(class="")
                           button(type="submit" class="btn btn-primary" id="supervisor-edit-business-client-save-btn" ) Guardar cambios
               div(class="modal-footer")


