extends /layout/supervisor/main.jade
block content
   div(class="container")
      div(class='row')
         div(class="col-md-12")

            div(class="panel panel-gray")
               div(class="panel-heading")
                  h4 Rellene los campos para dar de alta un nuevo cliente

               div(class="panel-body")

                  form(action="/supervisor/business-clients/new" class=" col-md-6"  id="supervisor-create-business-client-form" method="post" )
                     div(class="form-group")
                        label(class=" control-label")
                        |   Razón social & marca comercial
                        div(class="")
                           input(type="text" class="form-control required" id="first_name" name="first_name"  placeholder="Razón social & marca comercial" )

                     div(class="form-group")
                          label(class=" control-label")
                          |   Administrador & autónomo
                          div(class="")
                              input(type="text" class="form-control required" id="contact_person" name="contact_person"  placeholder="Administrador & autónomo" )


                     div(class="form-group")
                        label(class=" control-label")
                        |  CIF/NIF
                        div(class="")
                           input(type="text" class="form-control required" id="identification_number" name="identification_number" placeholder="CIF/NIF")

                     div(class="form-group")
                        label(class=" control-label")
                        |  Email
                        div(class="")
                           input(type="email" class="form-control email required" id="email" name="email" placeholder="Email")

                     div(class="form-group")
                        label(class=" control-label")
                        |  Tel
                        div(class="")
                           input(type="text" class="form-control " id="telephone" name="telephone" placeholder="+34 981 00 00 00")

                     div(class="form-group")
                        label(class=" control-label")
                        |  Móvil
                        div(class="")
                           input(type="text" class="form-control " id="mobile" name="mobile" placeholder="+34 634 00 00 00")

                     div(class="form-group")
                        label(class=" control-label")
                        | Fax
                        div(class="")
                           input(type="text" class="form-control " id="fax" name="fax" placeholder="+34 986 123 654")

                     div(class="form-group")
                        label(class=" control-label")
                        |   Dirección
                        div(class="")
                           input(type="text" class="form-control required" id="address" name="address" placeholder="Calle da horta")

                     div(class="form-group")
                        label(class=" control-label")
                        |   Localidad/Ciudad
                        div(class="")
                           input(type="text" class="form-control required" id="city" name="city" placeholder="Localidad")

                     div(class="form-group")
                        label(class=" control-label")
                        |   Código postal
                        div(class="")
                           input(type="text" class="form-control number required" id="post_code" name="post_code" placeholder="Código postal")

                      div(class="form-group")
                          label(class=" control-label")
                          |   Provincia
                          div(class="")
                              input(type="text" class="form-control  required" id="province" name="province" placeholder=" Provincia")




                     div(class="form-group")
                        div(class="")
                           button(type="submit" class="btn btn-primary" id="supervisor-new-business-client-save-btn" ) Crear cliente



               div(class="modal-footer")
