extends /layout/main.jade
block content
    div(class="container")
        div(class='row')
            div(class="col-md-12")
                div(class="panel panel-gray")
                    div(class="panel-heading")
                        h4 Productos

                    div(class="panel-body")
                        div(class="table-responsive ")
                            table(class="table -col-md-8 -col-md-offset-2" id="admin-telecommunication-products-list")
                                thead
                                    tr
                                        th Producto
                                        th Provedor

                                tbody(class="table-hover")
                                    each item in telecomProducts
                                        tr
                                            td
                                                a(href="/admin/telecommunication/edit/" + item._id)

                                                    =  item.product

                                            td=  item.provider