extends /layout/supervisor/main.jade
block content
   div(class="container")
      div(class='row')
         div(class="col-md-12")
            div(class="panel panel-gray")
               div(class="panel-heading")
                  h4 Modifica los campos desados
               div(class="panel-body")
                  form(action="/supervisor/clients/edit/#{client._id}" class=" col-md-6"  id="supervisor-edit-client-form" method="put" )
                     div(class="form-group")
                        label(class=" control-label")
                        |   Nombre
                        div(class="")
                           input(type="hidden" class="form-control " id="client_id" name="client_id"  value="#{client._id}" )
                           input(type="text" class="form-control required" id="first_name" name="first_name"  value="#{client.first_name}" )
                     div(class="form-group")
                        label(class=" control-label")
                        |   Apellidos
                        div(class="")
                           input(type="text" class="form-control required" id="last_name" name="last_name" value="#{client.last_name}")
                     div(class="form-group")
                        label(class=" control-label")
                        |   DNI/NIE
                        div(class="")
                           input(type="text" class="form-control required" id="identification_number" name="identification_number" value="#{client.identification_number}")
                     div(class="form-group")
                        label(class=" control-label")
                        |  Email
                        div(class="")
                           input(type="email" class="form-control email required" id="email" name="email" value="#{client.email}")
                     div(class="form-group")
                        label(class=" control-label")
                        |  Tel
                        div(class="")
                           input(type="text" class="form-control " id="telephone" name="telephone" value="#{client.telephone}")
                     div(class="form-group")
                        label(class=" control-label")
                        |  Móvil
                        div(class="")
                           input(type="text" class="form-control " id="mobile" name="mobile" value="#{client.mobile}")
                     div(class="form-group")
                        label(class=" control-label")
                        |   Dirección
                        div(class="")
                           input(type="text" class="form-control required" id="address" name="address" value="#{client.address}")
                     div(class="form-group")
                        label(class=" control-label")
                        |   Localidad/Ciudad
                        div(class="")
                           input(type="text" class="form-control required" id="city" name="city" value="#{client.city}")
                     div(class="form-group")
                        label(class=" control-label")
                        |   Codigo postal
                        div(class="")
                           input(type="text" class="form-control number required" id="post_code" name="post_code" value="#{client.post_code}")
                     div(class="form-group")
                        label(class=" control-label")
                        |   Fecha de nacimiento
                        div(class="")
                           input(type="text" class="form-control required" id="date_of_birth" name="date_of_birth" value=moment(client.date_of_birth).format('DD/MM/YY'))
                     div(class="form-group")
                        label(class=" control-label") Sexo
                        div(class="")
                           select(name="sex" id="sex" class="required")
                              option(value="#{client.sex}" selected="selected") #{client.sex}
                              option(value="Hombre") Hombre
                              option(value="Mujer") Mujer
                     div(class="form-group")
                        div(class="")
                           button(type="submit" class="btn btn-primary" id="supervisor-edit-client-save-btn" ) Guardar cambios
               div(class="modal-footer")


