extends /layout/supervisor/main.jade
block content
   div(class="container")
      div(class='row')
         div(class="col-md-12")

             div(class="panel panel-gray")
                 div(class="panel-heading")
                     h4 Datos Cliente

                 div(class="panel-body")
                     div(class="row")
                         div(class="col-md-6")
                             img(src="https://res.cloudinary.com/unosiete/image/upload/c_scale,w_112/v1442921643/images/us_monogram.jpg"
                                alt="" class="pull-left" style="margin: 0 20px 20px 0; ")
                             div(class="table-responsive")
                                 table(class="table table-condensed")
                                     h3
                                         strong #{client.first_name} #{client.last_name}
                                     //thead
                                         tr
                                             th
                                     tbody
                                         tr
                                             td  DNI/NIE :
                                             td
                                                 a #{client.identification_number}

                                         tr
                                             td  Movil :
                                             td
                                                 a #{client.mobile}
                                         tr
                                             td  Telefono :
                                             td
                                                 a #{client.telephone}

                                         tr
                                             td  Email :
                                             td
                                                 a #{client.email}
                                         tr
                                             td  Dirrección :
                                             td
                                                 a #{client.address}  #{client.post_code},  #{client.city}

                                         tr
                                             td  Fcha nacimiento :
                                             td
                                                 a= moment(client.date_of_birth).format('DD/MM/YYYY')

                                         tr
                                             td  Dado de  alta :
                                             td
                                                 a= moment(client.created).format('DD/MM/YYYY')


             <!-- Productos contractados -->
      div(class='row')
         div(class="col-md-12")
             div(class="panel panel-gray")
                 div(class="panel-heading")
                     h4 Productos/Servicios contratados


                     div(class="pull-right")
                         a(href="/supervisors/products/new/?client_id=#{client._id}" class="new-client-product btn btn-danger"
                                     id="#{client._id}") Nuevo producto/servicio


                 div(class="panel-body")
                     div(class="row")
                         div(class="col-md-10")

                             each product in  clientProducts
                                 p
                                    a(href="/supervisors/products/edit/#{product._id}" class="btn btn-info") Editar
                                     span()
                                         a(href="/supervisor/product-notification/new/?product_id=#{product._id}&product_state=#{product.contract_state}" class="btn btn-danger") Notificación
                                     span()
                                         a(href="/supervisor/product-notification/show/#{product._id}" class="btn btn-warning") Historial

                                 p Sector : #{product.sector}
                                 p Producto : #{product.name}
                                 p Creado :
                                   =moment(product.created).format('DD/MM/YYYY HH:mm')

                                 p Estado : #{product.contract_state}
                                 p Documentación
                                 if(product.document_1 && product.document_name_1)
                                     p
                                         a(href="#{product.document_1.secure_url}" id="doc1") #{product.document_name_1}

                                 if(product.document_2 && product.document_name_2)
                                     p
                                         a(href="#{product.document_2.secure_url}" id="doc2") #{product.document_name_2}

                                 if(product.document_3 && product.document_name_3)
                                     p
                                         a(href="#{product.document_3.secure_url}" id="doc3") #{product.document_name_3}

                                 hr
















                 <!-- New Client product Modal -->

             div(class='modal' id='client-product-new-modal')
                 div(class="modal-dialog")
                     div(class="modal-content")
                         div(class="modal-header")
                             button(type="button" class="close" data-dismiss="modal" aria-hidden="true") x
                             h4(class="modal-title") Nuevo producto
                         div(class="modal-body")

                             form(action="" class="form-horizontal " id="new-client-product-form")
                                 div(class="form-group")
                                     label(class=" control-label") Sector
                                     div(class="")
                                         input(type="hidden" class="form-control require" id="client_id" name="client_id" value="#{client._id}")
                                         select(class="form-control require" id="product_sector" name="product_sector")
                                            option(value="null") Sector...
                                            option(value="Telecomunicación & Energías") Teleco & Energías
                                            option(value="Ahorro & Inversión") Ahorro & Inversión
                                            option(value="Seguros  Generales")  Seguros  Generales
                                            option(value="Mantenimiento & Reparaciones")  Mantenimiento & Reparaciones
                                            option(value="Autónomos & Empresa")  Autónomos & Empresa
                                            option(value="Alimantación & E-commerce")  Alimantación & E-commerce
                                            option(value="Hogar & Bienestar")  Hogar & Bienestar


                                 div(class="form-group")
                                     label(class=" control-label") Productos del sector
                                     div(class="")
                                         select(class="form-control" id="product_name" name="product_name")
                                             option(value="none") Seleccione una opción

                                 div(class="form-group") Fecha alta
                                     div(class="")
                                         input(type="text" class="form-control require" id="start_date" name="start_date" placeholder="DD/MM/YYYY")


                                 div(class="form-group") Fecha vencimiento
                                     div(class="")
                                         input(type="text" class="form-control require" id="finish_date"  name="finish_date" placeholder="DD/MM/YYYY")


                                 div(class="form-group")
                                     label(class=" control-label ") Estado contracto
                                     div(class="disabled")
                                         select(class="form-control " id="contract_state" name="contract_state")
                                             option(value="enviado") Enviado


                                 div(class="form-group")
                                     label(class=" control-label") Soporte pro
                                     div(class="")
                                         select( class="form-control" id="pro_support"  name="pro_support" )
                                             option(value="false" selected="selected") Ninguno/a
                                             each supervisor in supervisors
                                                 option(value="#{supervisor._id}") #{supervisor.first_name} #{supervisor.last_name} - #{supervisor.identification_number}

                                 div(class="form-group")
                                     label(class=" control-label")
                                     div(class="")
                                         button(type="button" class="btn btn-default" data-dismiss="modal") Cancelar
                                         input(type="submit" class="btn btn-primary" id='client-product-new-save-btn' value="Guardar")



                         div(class="modal-footer")
                             //button(type="button" class="btn btn-default" data-dismiss="modal") Cancelar
                             //input(type="submit" class="btn btn-primary" id='client-product-new-save-btn' value="Guardar")



