extends /layout/supervisor/main.jade
block content
   div(class="container")
      div(class='row')
         div(class="col-md-12")

            div(class="panel panel-gray")
               div(class="panel-heading")
                  h4 Comiciones personales cobradas

               div(class="panel-body")
                  div(class="-table-responsive")
                     table(class="table" style="margin-bottom: 0px; " id="supervisor-recieved-personal-commission-list")
                        thead
                           tr
                              th(class="col-xs-2 col-sm-3")  Vendido
                              th(class="col-xs-2 col-sm-3")  Contratado
                              th(class="col-xs-2 col-sm-2")  Producto
                              th(class="col-xs-2 col-sm-2")  Cliente
                              th(class="col-xs-2 col-sm-2")  Comisión cartera personal

                        tbody(class="selects")
                           each client in comisionedProducts
                              tr
                                 td
                                    a(href="#")
                                       =moment(client.created).format('DD/MM/YYYY HH:mm')
                                 td
                                    a(href="#")
                                       =moment(client.payment_received_date).format('DD/MM/YYYY HH:mm')
                                 td
                                       a(href="#") #{client.name}

                                 td
                                    if  client.client_info.business_client == true
                                       a(href="#") #{client.client_info.first_name} #{client.client_info.last_name}
                                       span(class="label label-warning") Empresa
                                    else
                                       a(href="#") #{client.client_info.first_name} #{client.client_info.last_name}
                                       span(class="label label-info") Particular
                                 td
                                    a(href="#") €
                                       =client.personal_commission




