extends /layout/supervisor/main.jade
block content
    div(class="container")
        div(class='row')
            div(class="col-md-12")
                div(class="panel panel-gray")
                    div(class="panel-heading")
                        h4 Resumen de comisiones  directas
                    div(class="panel-body")
                        //p #{products.length}
                        if(products.length > 0)
                            div(class="table-responsive")
                                table(class="table" style="margin-bottom: 0px;" id="supervisor-direct-commission-list")
                                    thead
                                        tr
                                            th(class="col-xs-9 col-sm-3") Vendido
                                            th(class="col-xs-9 col-sm-3") Comisionado
                                            th(class="col-sm-6 col-sm-3") Producto
                                            th(class="col-sm-6 col-sm-3") Cliente
                                            th(class="col-xs-9 col-sm-3") Comisión cartera personal
                                            //th(class="col-xs-2 col-sm-2") Opciones

                                    tbody(class="selects")
                                        each product in products
                                            tr
                                                td
                                                    a(href="#")
                                                        =moment(product.created).format('DD/MM/YYYY HH:mm')
                                                td
                                                    a(href="#")
                                                        =moment(product.payment_received_date).format('DD/MM/YYYY HH:mm')


                                                td
                                                    a(href="#") #{product.name}
                                                td
                                                    a(href="#") #{product.client_info.first_name} #{product.client_info.last_name}
                                                td
                                                    a(href="#") € #{product.personal_commission}
                                        tr
                                            td()
                                            td()
                                            td()
                                            td() Total
                                            td()
                                                span €
                                                b(id="total_personal_commission")  #{personalCommission}
                                        tr
                                            td()
                                            td()
                                            td()
                                            td()
                                            td()
                                                //if(paymentsPending === 0)
                                                    button(class="btn btn-sm btn-info" id="supervisor_personal_commission_request_btn" data-supervisor-id="#{user._id}") Solicitar pago
                                                //else
                                                    button(class="btn btn-sm btn-warning" title="Hasta que recibas el pago, los próximos productos comisionados se sumará a esta solicitud ") Ya tienes una solicitud de pago pendiente

                        else
                            h4 No tienes ningún producto/servicio comisionable en este momento




                        //div(class="row")
                            div(class="col-md-3")
                                a(class="info-tiles tiles-info" href="/supervisor/commissions/show/?sector=teleco")
                                    div(class="tiles-heading")
                                        div(class="pull-left") Teleco & Energías
                                        div(class="pull-right")
                                            i(class="fa fa-caret-up" title="Número de ventas") 2
                                    div(class="tiles-body")
                                        div(class="pull-left")
                                            i(class="fa fa-lightbulb-o")
                                        div(class="pull-right")
