extends /layout/supervisor/main.jade
block content
   div(class="container")
      div(class='row')
         div(class="col-md-12")
            div(class="panel panel-gray")
               div(class="panel-heading")
                  h4 Resumen de comisiones asesor pro
               div(class="panel-body")
                  //p #{products.length}
                  if(products.length > 0)
                     div(class="table-responsive")
                        table(class="table" style="margin-bottom: 0px;" id="supervisor-direct-commission-list")
                           thead
                              tr
                                 th(class="col-xs-9 col-sm-3") Vendido
                                 th(class="col-xs-9 col-sm-3") Comisionado
                                 th(class="col-sm-6 col-sm-3") Producto
                                 th(class="col-sm-6 col-sm-3") Cliente
                                 th(class="col-xs-9 col-sm-3") Comisión pro
                                 //th(class="col-xs-2 col-sm-2") Opciones
                           tbody(class="selects")
                              each product in products
                                 tr
                                    td
                                       a(href="#")
                                          =moment(product.created).format('DD/MM/YYYY HH:mm')
                                    td
                                       a(href="#")
                                          =moment(product.payment_received_date).format('DD/MM/YYYY HH:mm')
                                    td
                                       a(href="#") #{product.name}
                                    td
                                       a(href="#") #{product.client_info.first_name} #{product.client_info.last_name}
                                    td
                                       a(href="#") € #{product.pro_supervisor_commission}
                              tr
                                 td()
                                 td()
                                 td()
                                 td() Total
                                 td()
                                    span €
                                    b(id="total_personal_commission")  #{proCommission}
                              tr
                                 td()
                                 td()

                                 td(colspan="3")

                                       button(class="btn btn-sm btn-info" title="Hasta que recibas el pago, los próximos productos comisionados se sumará a esta solicitud ")  Estas comisiones serán pagadas una vez el asesor solicite el cobro
                  else
                     h4 No tienes ningún producto/servicio comisionable en este momento

