extends /layout/supervisor/main.jade
block content
   div(class="container")
      div(class='row')
         div(class="col-md-12")
            div(class="panel panel-gray")
               div(class="panel-heading")
                  h4 Resumen de comisiones asistencia pro
               div(class="panel-body")
                  //p #{products.length}
                  if(products.length > 0)
                     div(class="table-responsive")
                        table(class="table" style="margin-bottom: 0px;" id="supervisor-recieved-pro-commission-list")
                           thead
                              tr
                                 th(class="col-xs-9 col-sm-3") Vendido
                                 th(class="col-xs-9 col-sm-3") Comisionado
                                 th(class="col-sm-6 col-sm-3") Producto
                                 th(class="col-sm-6 col-sm-3") Cliente
                                 th(class="col-xs-9 col-sm-3") Comisión pro
                                 //th(class="col-xs-2 col-sm-2") Opciones
                           tbody(class="selects")
                              each product in products
                                 tr
                                    td
                                       a(href="#")
                                          =moment(product.created).format('DD/MM/YYYY HH:mm')
                                    td
                                       a(href="#")
                                          =moment(product.payment_received_date).format('DD/MM/YYYY HH:mm')
                                    td
                                       a(href="#") #{product.name}
                                    td
                                       a(href="#") #{product.client_info.first_name} #{product.client_info.last_name}
                                    td
                                       a(href="#") € #{product.pro_supervisor_commission}
                              tr
                                 td()
                                 td()
                                 td()
                                 td()
                                 td()

                              tr
                                 td()
                                 td()
                                 td()
                                 td()
                                 td()


                  else
                     h4 No tiene pendiente de cobro ninguna asistencia pro
                  //div(class="row")
                      div(class="col-md-3")
                          a(class="info-tiles tiles-info" href="/supervisor/commissions/show/?sector=teleco")
                              div(class="tiles-heading")
                                  div(class="pull-left") Teleco & Energías
                                  div(class="pull-right")
                                      i(class="fa fa-caret-up" title="Número de ventas") 2
                              div(class="tiles-body")
                                  div(class="pull-left")
                                      i(class="fa fa-lightbulb-o")
                                  div(class="pull-right")
