extends /layout/supervisor/main.jade
block content
   div(class="container")
      div(class='row')
         div(class="col-md-12")
            div(class="panel panel-gray")
               h3 Detalles de comisión

