extends /layout/main.jade
block content
   div(class="container")
      div(class='row')
         div(class="col-md-12")
            div(class="panel panel-gray")
               div(class="panel-heading")
                  h4 Modificar los campos deseados

               div(class="panel-body")
                  each item in editProduct
                     form(action="" class=" col-md-6"  id="small-business-category-edit-form" )
                        div(class="form-group")
                           label(class=" control-label")
                           |   Provedor
                           div(class="")
                              input(type="text" class="form-control" id="provedor" name="provedor"  placeholder="Provedor" value="#{item.provider}" )
                              input(type="hidden" class="form-control" id="product-id" name="product-id"  placeholder="Provedor" value="#{item._id}")


                        div(class="form-group")
                             label(class=" control-label")
                             |  Email provedor
                             div(class="")
                                 input(type="email" class="form-control" id="email" name="email"  value="#{item.provider_email}")


                        div(class="form-group")
                           label(class=" control-label")
                           |   Producto/Servicio
                           div(class="")
                              input(type="text" class="form-control" id="producto" name="producto" placeholder="Producto/Servicio" value="#{item.product}")

                        div(class="form-group")
                           label(class=" control-label")
                           |   Puntuaciòn
                           div(class="")
                              input(type="text" class="form-control" id="puntuacion" name="puntuacion" placeholder="Puntuaciòn" value="#{item.points}")

                        div(class="form-group")
                           div(class="")
                              button(type="submit" class="btn btn-primary" id="small-business-edit-btn" ) Aplicar cambios



               div(class="modal-footer")
