extends /layout/main.jade
block content
   div(class="container")
      div(class='row')
         div(class="col-md-12")
            div(class="panel panel-gray")
               div(class="panel-heading")
                  h4 Rellene los campos

               div(class="panel-body")

                   form(action="/admin/small-business/new-product" class=" col-md-6"  id="small-business-category-form" )
                       div(class="form-group")
                           label(class=" control-label")
                           |   Provedor
                           div(class="")
                               input(type="text" class="form-control" id="provedor" name="provedor"  placeholder="Provedor" )

                       div(class="form-group")
                           label(class=" control-label")
                           |  Email provedor
                           div(class="")
                               input(type="email" class="form-control" id="email" name="email"  placeholder="Email")


                       div(class="form-group")
                           label(class=" control-label")
                           |   Producto/Servicio
                           div(class="")
                               input(type="text" class="form-control" id="producto" name="producto" placeholder="Producto/Servicio")

                       div(class="form-group")
                           label(class=" control-label")
                           |   Puntuaciòn
                           div(class="")
                               input(type="text" class="form-control" id="puntuacion" name="puntuacion" placeholder="Puntuaciòn")

                       div(class="form-group")
                           div(class="")
                               button(type="submit" class="btn btn-primary" id="small-business-save-btn" ) Crear


                div(class="modal-footer")
